{% set recydywaCnt = app.getRecydywa %}
{% set status = app.getStatus %}
{% set sendable = status.sendable %}

<div class="images-slider">
    <div class="imageContainer">
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.contextImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
    <div class="imageContainer">
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.carImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
</div>
<ul class="application-details-list">
    <li class="no-icon">
        {% if appActionButtons %}
            <a href="#changeStatus{{ app.id }}" data-rel="popup" data-transition="none" aria-haspopup="true"
                aria-owns="changeStatus{{ app.id }}" aria-expanded="false"
                data-inline="true" data-mini="true"
                class="ui-link change-status ui-btn ui-btn-inline ui-corner-all ui-nodisc-icon ui-mini">
                {{ status.name|upper }} <u>zmień</u>
            </a>
            <div style="display: none;"><!-- placeholder for pre-rendered --></div>
        {% endif %}
        Zgłoszenie <tt>{{ app.number }}</tt>
    </li>
    {% if recydywaCnt > 1 %}
    {% set wrappedPlateId = "'" ~ app.carInfo.plateId ~ "'" %}
    <li class="no-icon">RECYDYWA <span class="recydywa">#{{ recydywaCnt }}</span> <a href="#" onclick="window._recydywa(' ~ wrappedPlateId  ~ ')">(zobacz pozostałe)</a></li>
    {% endif %}

    <li class="calendar"><b>{{ app.getDate("d.MM.YYYY, H:mm (eee)")|raw }}</b></li>

    <li class="address">{{ app.address.address }}</li>
    {% if sendable %}
        <li class="send">
            {% if app.automatedSM and (autoSend ?? false) %}
                <a href="#" onclick="sendApplication('{{ app.id }}');" data-inline="true" data-mini="true"
                class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini cta ui-icon-{{ statuses['confirmed-waiting'].icon }} confirmed-waiting">
                    Wyślij do {{ app.guessSMData.getShortName }}
                </a>
            {% elseif app.unknownSM %}
                <a href="/brak-sm.html?id={{ app.id }}" data-ajax="false"
                class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail cta confirmed-waiting">
                    Wyślij zgłoszenie
                </a>
            {% elseif wysylka is not defined %}
                <a href="/wysylka.html?city={{ app.guessSMData.key|url_encode }}" data-ajax="false"
                class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail confirmed-waiting cta">
                    Wyślij zgłoszenie
                </a>
            {% endif %}
            {% if appActionButtons and app.isEditable %}
                <a href="/nowe-zgloszenie.html?edit={{ app.id }}" data-ajax="false">edytuj</a>
            {% endif %}
        </li>
    {% endif %}    

    <li class="description"><b>TREŚĆ ZGŁOSZENIA</b><br>{{ app.getCategory.formal }}</b> {{ app.getExtensionsText }} {% if app.userComment %}{{ app.getAHrefedComment | raw }}{% endif %}</li>
    <li class="info-icon"><b>INFORMACJE DODATKOWE</b><br>
        {% if app.statements is not defined or not app.statements.witness %}
        <b>Nie {{ app.guessUserSex.bylas }}</b> świadkiem parkowania.
        {% else %}
        <b>{{ app.guessUserSex.bylas|capitalize }} świadkiem</b> parkowania.
        {% endif %}
        {% if app.wasSent %}
        <br>
        Wysłano do {%if app.guessSMData.isPolice %}👮‍♀️ {% endif %}<b>{{ app.guessSMData.getShortName }}</b>
            {{ app.getSentDate("d MMMM YYYY 'o' H:mm")|raw }}
        {% endif %}
    </li>
</ul>

<ul class="application-details-list">
    {% if app.wasSent %}
        <li class="external-id no-icon">NUMER SPRAWY SM/Policji<br>
        <input class="app-field-editable" name="externalId" data-initial-value="{{ app.externalId }}" type="text" placeholder="RSOW 0000/24 / WP 000/24" value="{{ app.externalId }}">
        </li>
    {% endif %}
    <li class="private-comment no-icon">UWAGI (widoczne tylko dla Ciebie)<br>
        <textarea class="app-field-editable" name="privateComment" data-initial-value="{{ app.privateComment }}" placeholder="">{{ app.privateComment }}</textarea>
    </li>

</ul>
<div id="changeStatus{{ app.id }}-screen" class="ui-popup-screen ui-overlay-inherit ui-screen-hidden"></div>
<div id="changeStatus{{ app.id }}-popup" class="ui-popup-container ui-popup-hidden ui-popup-truncate">
    <div data-role="popup" id="changeStatus{{ app.id }}" data-enhanced="true" data-transition="none" class="application-short ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset">
            <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
                Zmień status zgłoszenia z <span class="currentStatus">{{ status.name }}</span> na:
            </li>
            {% for key,val in statuses %}
            {% if val.class == 'bottom' %}
            {% set liStyle = '' %}
            {% if key not in status.allowed %}
            {% set liStyle = 'style="display: none;"' %}
            {% endif %}
            <li {{ liStyle|raw }}>
                <a href="#" onclick="setStatus('{{ app.id }}', '{{ key }}')" data-inline="true" data-mini="true" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
                            {{ val.cta ?? '' }}
                            ui-icon-{{ val.icon }}
                            {{ key }}">{{ val.action }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
