<div class="ui-body ui-body-a application application-details">

{% if config.confirmationScreen is not defined %}
    {% if not dialog %}
    <h2>Zgłoszenie wykroczenia {{ app.number ?? '' }}</h2>
        {% if general.isAdmin and not config.isAppOwner %}
        <h3>
            Podgląd administratora.
            <small><a href="nowe-zgloszenie.html?edit={{ app.id }}">(edit)</a></small>
        </h3>
        {% endif %} {# admin #}
    {% endif %} {# not dialog#}
{% endif %} {# not confirmationScreen #}
    
{% if app.sent is defined %}
    {% if app.sent.method == 'Mail' or app.sent.method == 'MailGun' %}
    <b class="appSentInfo">To zgłoszenie zostało wysłane do {{ app.guessSMData.getShortName }} &lt;{{ app.sent.to }}&gt;
        bezpośrednio z serwera Uprzejmie Donoszę o {{ app.getSentDate("H'<sup>'mm'</sup>', d MMM YYYY")|raw }}.</b>
    {% elseif app.sent.method == 'manual' %}
    <b class="appSentInfo">To zgłoszenie zostało wysłane przez Ciebie ręcznie do {{ app.guessSMData.getShortName }}
        &lt;{{ app.sent.to }}&gt; o {{ app.getSentDate("H'<sup>'mm'</sup>', d MMM YYYY")|raw }}.</b>
    {% else %} {# API #}
    <b class="appSentInfo">To zgłoszenie zostało wysłane do {{ app.guessSMData.getShortName }}
        o {{ app.getSentDate("H'<sup>'mm'</sup>', d MMM YYYY")|raw }} poprzez API {{ app.sent.to }}. Zgłoszenie jest widoczne jest
        dla {{ app.guessSMData.getShortName }} w następującej postaci:</b>
    <cite>{% include('_application.txt.twig') %}</cite>
    {% endif %}
{% endif %} {# app.sent #}
    
        <p>W dniu <b>{{ app.getDate }}</b> {{ app.getDateTimeDivider }} <b>{{ app.getTime }}</b>
            {{ app.guessUserSex.bylam }} świadkiem wykroczenia kierowcy
            pojazdu o nr. rejestracyjnym <b>{{ app.carInfo.plateId ?? '...' }}</b>
            {% if app.getRecydywa.appsCnt ?? 0 > 1 %}<sup>(recydywa {{ app.getRecydywa.appsCnt }})</sup>{% endif %}
            w okolicy adresu <b>{{ app.address.address ?? '...' }}</b>.
            {{ app.getCategory.formal }}
            {{ app.getExtensionsText() }}
            Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie.
    {% if app.statements is not defined or not app.statements.witness %}
        Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.
    {% endif %}
            </p>

    {% if app.userComment is defined and app.userComment %}
        <p>{{ app.getAHrefedComment | raw }}</p>
    {% endif %}

    {% if not (app.user.exposeData ?? false) %}
        <p>Równocześnie proszę o niezamieszczanie w protokole danych dotyczących
            mojego miejsca zamieszkania, nr. telefonu i adresu e-mail.</p>
    {% endif %}

    {% if app.hasNumber and config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
        <p>Dokument ze zgłoszeniem dostępny jest pod adresem
            <a href="/{{ app.id }}.pdf" download="{{ app.number }}">{{ app.number }}.pdf</a>.
        </p>
    {% endif %}

    <div id="user-location" class="grid">
        <div>
        {% if config.confirmationScreen is not defined %}
            <p>Dane zgłaszającego:<br /><br />
        {% else %}
            <p>Zweryfikuj lokalizację i swoje dane:<br /><br />
        {% endif %}
        {% if config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
                <b>{{ app.user.name }}</b>
                <br />
                {{ app.user.email }}<br />
                {{ app.user.address }}<br />
                {% if app.user.msisdn ?? false %}Tel: <span class="msisdn">{{ app.user.msisdn }}</span><br />{% endif %}
                {% if app.user.edelivery ?? false %}E-doręczenia: <span class="edelivery">{{ app.user.edelivery ?? '' }}</span>{% endif %}
            {% if config.confirmationScreen is not defined %}
                <br />
                <small>Nieaktualne dane? Popraw je na <a href="/register.html?update">stronie rejestracji</a>
                zanim stworzysz nowe zgłoszenie.</small>
            {% endif %}
        {% else %}
                <br />(ukryte)
        {% endif %}
            </p>
        </div>
        <div>
{% if app.address.lat is defined %}
            <a href="{{ app.getMapUrl() }}"
               target="_blank">
                <img class="mapImage" src="{{ app.getMapImage }}?v={{ app.getRevision }}">
            </a>
{% endif %}
        </div>
    </div>
    <div class="grid">
        <div class="imageContainer">
            <a href="#popup1" data-rel="popup">
                <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}"/>
            </a>
        </div>
        <div class="imageContainer">
            <a href="#popup2" data-rel="popup">
                <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}"/> 
            </a>
        </div>
        <dialog id="popup1" class="fullscreen">
            <img src="{{ app.contextImage.url ??  'img/fff-1.png' }}?v={{ app.getRevision }}">
        </dialog>
        <dialog id="popup2" class="fullscreen">
            <img src="{{ app.carImage.url ?? 'img/fff-1.png' }}?v={{ app.getRevision }}">
        </dialog>
    </div>
{% if app.shouldIncludePlateImage %}
    <div class="grid">
        <div></div>
        <div>
            <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}?v={{ app.getRevision }}"/>
        </div>
    </div>
{% endif %}

{% if app.isCurrentUserOwner and config.confirmationScreen is not defined %}
    {% if app.comments and app.comments|length > 0 %}
        <div id="comments">
            <h4>Historia wysyłki</h4>
            <ul data-role="listview">
            {% for date,comment in app.comments %}
                <li class="delivery-status-{{ comment.status ?? 'ok' }}">
                    <span class="status-dot {{ comment.status ?? 'ok' }}"></span>
                    {{ date|date('d.m.Y H:i') }} <b>{{ comment.source }}</b>:
                    {{ comment.comment | raw }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if app.statusHistory|length > 0 %}
        <div id="statusHistory">
            <div data-mini="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u"
                data-role="collapsible">
                <h4>Historia zmian statusów</h4>
                <ul data-role="listview">
                {% for date,status in app.statusHistory %}
                    <li class="status-history">
                        <span class="status-dot {{status.new}}"></span>
                        {{ date|date('d.m.Y H:i') }} {{ statuses[status.new].comment }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}

</div>
