{% set recydywaCnt = app.getRecydywa %}
{% set recydywa = '' %}
{% if recydywaCnt > 1 %}
{% set wrappedPlateId = "'" ~ app.carInfo.plateId ~ "'" %}
{% set recydywa = ' 🚨 <a href="#" onclick="window._recydywa(' ~ wrappedPlateId  ~ ')"><sup>recydywa#' ~ recydywaCnt ~ '</sup></a>' %}
{% endif %}

{% set status = app.getStatus %}
{% set sendable = status.sendable %}

<ul class="application-details-list">
    <li class="calendar"><b>{{ app.getHRDate }}, {{ app.getTime }}</b></li>
    <li class="plate-id"><span class="plate-id">{{ app.carInfo.plateId }}</span>{{ recydywa|raw }}</li>
    <li class="address"><a href="{{ app.getMapUrl }}" data-ajax="false" target="_blank">{{ app.address.address }}</a></li>
    <li class="status {{app.status}}"><b class="currentStatus">{{ status.name }}</b>
        {% if appActionButtons %}

        <a href="#changeStatus{{ app.id }}" data-rel="popup" data-transition="none" aria-haspopup="true" aria-owns="changeStatus{{ app.id }}" aria-expanded="false" class="ui-link">
            (zmień status)
        </a>
        <div style="display: none;"><!-- placeholder for pre-rendered --></div>
        {% endif %}
    </li>
    <li class="sent-to">Wysłano do {%if app.guessSMData.isPolice %}👮‍♀️ {% endif %}<b>{{ app.guessSMData.getShortName }}</b></li>
    <li class="description"><b>{{ app.getCategory.short }}</b> {{ app.getExtensionsText }} {% if app.userComment %}{{ app.getAHrefedComment | raw }}{% endif %}</li>
    <li class="witness">
        {% if app.statements is not defined or not app.statements.witness %}
        <b>Nie {{ app.guessUserSex.bylas }}</b> świadkiem parkowania.
        {% else %}
        <b>{{ app.guessUserSex.bylas|capitalize }} świadkiem</b> parkowania.</p>
        {% endif %}
    </li>
</ul>

{% if status.topButtons %}
<div>
    {% if app.automatedSM and autoSend is defined and autoSend %}
    <a href="#" onclick="sendApplication('{{ app.id }}');" data-inline="true" data-mini="true" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
    {% if sendable %}cta{% else %}hidden{% endif %}
    ui-icon-{{ statuses['confirmed-waiting'].icon }}
    confirmed-waiting">Wyślij {% if sendable %}do {{ app.guessSMData.getShortName }}{% else %}zgłoszenie{% endif %}</a>
    {% elseif app.unknownSM %}
    <a href="/brak-sm.html?id={{ app.id }}" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail
    {% if sendable %}cta{% else %}hidden{% endif %}
    confirmed-waiting">Wyślij zgłoszenie</a>
    {% elseif wysylka is not defined %}
    <a href="/wysylka.html?city={{ app.guessSMData.key|url_encode }}" data-ajax="false" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail confirmed-waiting
    {% if sendable %}cta{% else %}hidden{% endif %}">Wyślij zgłoszenie</a>
    {% endif %}
    {% if appActionButtons %}
    <a href="/nowe-zgloszenie.html?edit={{ app.id }}" data-ajax="false" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
    {% if not app.isEditable %}hidden{% endif %}
    ui-icon-edit ui-alt-icon">Edytuj</a>
    {% endif %}
</div>

{% endif %}
<div class="ui-grid-a ui-responsive images images-cropped">
    <div class="ui-block-a imageContainer">
        <div class="loader"></div>
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.contextImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
    <div class="ui-block-b imageContainer">
        <div class="loader"></div>
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.carImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
</div>

<div id="changeStatus{{ app.id }}-screen" class="ui-popup-screen ui-overlay-inherit ui-screen-hidden"></div>
<div id="changeStatus{{ app.id }}-popup" class="ui-popup-container ui-popup-hidden ui-popup-truncate">
    <div data-role="popup" id="changeStatus{{ app.id }}" data-enhanced="true" data-transition="none" class="application-short ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all">
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset">
            <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
                Zmień status zgłoszenia z <span class="currentStatus">{{ status.name }}</span> na:
            </li>
            {% for key,val in statuses %}
            {% if val.class == 'bottom' %}
            {% set liStyle = '' %}
            {% if key not in status.allowed %}
            {% set liStyle = 'style="display: none;"' %}
            {% endif %}
            <li {{ liStyle|raw }}>
                <a href="#" onclick="setStatus('{{ app.id }}', '{{ key }}')" data-inline="true" data-mini="true" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
                            {{ val.cta ?? '' }}
                            ui-icon-{{ val.icon }}
                            {{ key }}">{{ val.action }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>