{% set recydywa = app.getRecydywa %}
{% set recydywaCnt = recydywa.appsCnt %}
{% set status = app.getStatus %}
{% set sendable = status.sendable %}

<div class="images-slider">
    <div class="imageContainer">
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.contextImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
    <div class="imageContainer">
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.carImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
    {% if app.thirdImage ?? false %}
    <div class="imageContainer thirdImage">
        <a target="_blank" href="/ud-{{ app.id }}.html">
            <img src="{{ app.thirdImage.thumb }}?v={{ app.getRevision }}">
        </a>
    </div>
    {% endif %}
</div>
<div class="application-details-list">
    <div class="status-dot {{ app.status }}">
        <b>{{ status.name|upper }}</b>
        {%if app.guessSMData.isPolice %}<span title="Zgłoszenie na Policję">👮‍♀️</span>{% endif %}

        {% if appActionButtons %}
        <div data-role="dropdown" id="changeStatus{{ app.id }}"
            class="application-short dropdown">
            <button class="button small light change-status dropdown-button">ZMIEŃ</button>
            <ul data-role="listview" class="change-status dropdown-content">
                {% for key,val in statuses %}
                {% if val.action %}
                    {% set liStyle = '' %}
                    {% if key not in status.allowed %}
                        {% set liStyle = 'style="display: none;"' %}
                    {% endif %}
                <li {{ liStyle|raw }}>
                    <a href="#{{ app.id }}" onclick="setStatus('{{ app.id }}', '{{ key }}')" class="status-dot {{ key }}">{{ val.action }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        Zgłoszenie&nbsp;<tt>{{ app.number }}</tt>
    </div>

    <div class="calendar"><b>{{ app.getDate("d.MM.y, H:mm (eee)")|raw }}</b></div>

    <div class="address">{{ app.address.address }}</div>
    {% if sendable %}
        <div class="no-icon">
            {% if app.automatedSM %}
                <a href="#{{ app.id }}" class="button inline cta confirmed-waiting send-application"
                    data-appid="{{ app.id }}">
                    Wyślij do {{ app.guessSMData.getShortName }}
                </a>
            {% elseif app.unknownSM %}
                <a href="#{{ app.id }}" class="button inline cta confirmed-waiting send-application"
                    data-appid="{{ app.id }}">
                    Wyślij zgłoszenie
                </a>
            {% elseif wysylka is not defined %}
                <a href="/wysylka.html?city={{ app.guessSMData.key|url_encode }}"
                class="button inline cta confirmed-waiting">
                    Wyślij zgłoszenie
                </a>
            {% endif %}
            {% if appActionButtons and app.isEditable %}
                <br>
                <a href="/nowe-zgloszenie.html?edit={{ app.id }}" class="button inline light">edytuj</a>
            {% endif %}
        </div>
    {% endif %}


    {% if recydywaCnt > 1 %}
    <div class="recydywa"><b>RECYDYWA:</b>
        {% if recydywa.usersCnt > 1 %}
        <span class="recydywa-userscnt">
            {{- num(recydywa.usersCnt, ['osób zgłosiło', 'osoba zgłosiła', 'osoby zgłosiły']) }}
        </span>
        {% endif %}
        <span data-recydywacnt="{{ recydywaCnt }}" class="recydywa-appscnt">{{ num(recydywaCnt, ['wykroczeń', 'wykroczenie', 'wykroczenia']) }}
        <a href="#{{ app.id }}" data-rel="popup" data-inline="true" data-mini="true"
            data-plateid="{{ app.carInfo.plateId }}"
            class="button small recydywa-seemore">
            Zobacz zgłoszenia
        </a>
    </div>
    {% endif %}

    <div class="description"><b>TREŚĆ ZGŁOSZENIA</b>
        <p>
            {{ app.getCategory.formal }} {{ app.getExtensionsText }} {% if app.userComment %}{{ app.getAHrefedComment | raw }}{% endif %}
        </p>
    </div>
    <div class="info-icon"><b>INFORMACJE DODATKOWE</b>
        <p>
            {% if app.statements is not defined or not app.statements.witness %}
            <b>Nie {{ app.guessUserSex.bylas }}</b> świadkiem parkowania.
            {% else %}
            <b>{{ app.guessUserSex.bylas|capitalize }} świadkiem</b> parkowania.
            {% endif %}
            {% if app.wasSent %}
        </p>
        <p>
            Wysłano do {%if app.guessSMData.isPolice %}👮‍♀️ {% endif %}<b>{{ app.guessSMData.getShortName }}</b>
                {{ app.getSentDate("d MMMM y 'o' H:mm")|raw }}
            {% endif %}
        </p>
    </div>
</div>

<div class="application-details-list">
    {% if app.wasSent %}
        <div class="external-id no-icon">NUMER SPRAWY SM/Policji
            <p>
                <input class="app-field-editable" name="externalId" data-initial-value="{{ app.externalId }}" type="text" placeholder="RSOW 0000/24 / WP 000/24" value="{{ app.externalId }}">
            </p>
        </div>
    {% endif %}
    <div class="private-comment no-icon">UWAGI (<a target="_blank" tabindex="-1" href="/bezpieczenstwo.html">widoczne tylko dla Ciebie</a>)
        <p>
            <textarea class="app-field-editable" data-type="encrypted" name="privateComment" data-initial-value="{{ app.privateComment }}" placeholder="">{{ app.privateComment }}</textarea>
        </p>
    </div>
</div>
