<div class="ui-body ui-body-a ui-corner-all application application-details">

    {% if config.confirmationScreen is not defined %}
    <h2>Zgłoszenie wykroczenia {{ app.number ?? '' }}</h2>
        {% if general.isAdmin and not config.isAppOwner %}
        <h3>
            Podgląd administratora.
            <small><a data-ajax="false" href="nowe-zgloszenie.html?edit={{ app.id }}">(edit)</a></small>
        </h3>
        {% endif %}
    {% endif %}

    <p>W dniu <b>{{ app.getDate }}</b> {{ app.getDateTimeDivider }} <b>{{ app.getTime }}</b>
        {{ app.guessUserSex.bylam }} świadkiem pozostawienia
        samochodu o nr rejestracyjnym <b>{{ app.carInfo.plateId }}</b>
        {% if app.getRecydywa > 1 %}<sup>(recydywa {{ app.getRecydywa }})</sup>{% endif %}
        pod adresem <b>{{ app.address.address}}</b>.
        {{ app.getCategory[1] }}
        Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie.
{% if app.statements is not defined or not app.statements.witness %}
    Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.
{% endif %}
        </p>

{% if app.userComment %}
    <p>{{ app.userComment }}</p>
{% endif %}

    <p>Jestem {{ app.guessUserSex.swiadoma }} odpowiedzialności karnej z art. 233 §1–§3
        Kodeksu karnego oraz treści art. 182, 183 i 185 Kodeksu Postępowania Karnego.</p>

{% if app.user.exposeData is not defined or not app.user.exposeData %}
    <p>Równocześnie proszę o niezamieszczanie w protokole danych dotyczących
        mojego miejsca zamieszkania.</p>
{% endif %}

{% if app.status not in ['draft', 'ready'] and config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
    <p>Dokument ze zgłoszeniem dostępny jest pod adresem
        <a href="{{ app.id }}.pdf" download="{{ app.number }}" data-ajax="false">{{ app.number }}.pdf</a>.
    </p>
{% endif %}

    <div id="user-location" class="ui-grid-a ui-responsive images images-cropped">
        <div class="ui-block-a">
        {% if config.confirmationScreen is not defined %}
            <p>Dane zgłaszającego:<br /><br />
        {% else %}
            <p>Zweryfikuj lokalizację i swoje dane:<br /><br />
        {% endif %}
                <b>{{ app.user.name }}</b>
        {% if config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
                <br />
                {{ app.user.email }}<br />
                {{ app.user.address }}<br />
                {{ app.user.msisdn }}<br />
            {% if config.confirmationScreen is not defined %}
                <br />
                <small>Nieaktualne dane? Popraw je na <a href="register.html">stronie rejestracji</a>
                i wygeneruj ponownie zgłoszenie.</small>
            {% endif %}
        {% else %}
                <br />(dane ukryte)
        {% endif %}
            </p>
        </div>
        <div class="ui-block-b imageContainer">
{% if app.address.latlng is defined %}
            <div class="loader"></div>
            <a href="https://www.google.com/maps/search/?api=1&query={{ app.address.latlng }}"
                data-ajax="false" target="_blank">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ app.address.latlng }}&zoom=17&size=380x200&maptype=roadmap&markers=color:red%7Clabel:o%7C{{ app.address.latlng }}&key=AIzaSyC2vVIN-noxOw_7mPMvkb-AWwOk6qK1OJ8">
            </a>
{% endif %}
        </div>
    </div>
    <div class="ui-grid-a ui-responsive images">
        <div class="ui-block-a imageContainer">
            <a href="#popup1" class="ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all zoom"></a>
            <a href="#popup1" data-rel="popup" data-position-to="window" data-transition="fade">
                <img src="{{ app.contextImage.thumb }}">     
            </a>
        </div>
        <div class="ui-block-b imageContainer">
            <a href="#popup2" class="ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all zoom"></a>
            <a href="#popup2" data-rel="popup" data-position-to="window" data-transition="fade">
                <img class="lazyload" data-src="{{ app.carImage.thumb }}">     
            </a>
        </div>
        <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="a" data-corners="false">
            <a href="#" data-rel="back"
                class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <img class="popphoto" src="{{ app.contextImage.url }}" style="max-height:800px;">
        </div>
        <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="a" data-corners="false">
            <a href="#" data-rel="back"
                class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <img class="popphoto lazyload" data-src="{{ app.carImage.url }}" style="max-height:800px;">
        </div>
    </div>
{% if app.shouldIncludePlateImage %}
    <div class="ui-grid-a ui-responsive images">
        <div class="ui-block-a"></div>
        <div class="ui-block-b">
            <img id="plateImage" src="{{ app.carInfo.plateImage }}"/>
        </div>
    </div>
{% endif %}

{% if app.isCurrentUserOwner and app.statusHistory|length > 0 and config.confirmationScreen is not defined %}
    <div id="statusHistory">
        <h4>Historia zmian statusów</h4>
        <ul data-role="listview">
        {% for date,status in app.statusHistory %}
            <li>
                <b>{{ date|date('Y-m-d H:i') }}</b>
                zmiana na <b>{{ statuses[status.new][0] }}</b>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

</div>
