<div data-role="panel" data-position-fixed="true" data-position="left"
    data-display="overlay" data-theme="a" id="mainMenu">

    <ul data-role="listview" data-inset="false">
        <li data-icon="home">
            <a href="/" class="active">
                {% if general.isLoggedIn %}
                Start
                {% else %}
                Strona główna
                {% endif %}
            </a>
        </li>
    {% if general.isLoggedIn %}
        <li data-icon="plus">
            <a class="try" data-ajax="false" 
                {{ active(config.menu, 'start')|raw }}
                href="/nowe-zgloszenie.html">Nowe zgłoszenie
            </a>
        </li>
        <li data-icon="bullets">
            <a data-ajax="false"
                {{ active(config.menu, 'moje-zgloszenia')|raw }}
                href="/moje-zgloszenia.html">Moje zgłoszenia
                <span class="ui-li-count">{{ general.stats.active ?? 0 }}</span>
            </a>
        </li>
        {% if general.stats.confirmed is defined and general.stats.confirmed > 0 %}
        <li data-icon="mail" class="wysylka">
            <a data-ajax="false"
                {{ active(config.menu, 'wysylka')|raw }}
                href="/wysylka.html">Do wysłania
            <span class="ui-li-count">{{ general.stats.confirmed ?? 0 }}</span></a>
        </li>
        {% endif %}
        {% if general.stats['confirmed-waiting'] is defined and general.stats['confirmed-waiting'] > 0 %}
        <li data-icon="mail" class="zapytaj-o-status">
            <a data-ajax="false"
                {{ active(config.menu, 'zapytaj-o-status')|raw }}
                href="/zapytaj-o-status.html?update">Zapytaj o status
            <span class="ui-li-count">{{ general.stats['confirmed-waiting'] ?? 0 }}</span></a>
        </li>
        {% endif %}
        <li data-icon="forbidden">
            <a data-ajax="false" {{ active(config.menu, 'register')|raw }}
                href="/register.html?update">Edycja konta
            </a>
            <a href="/logout.html" data-ajax="false">wyloguj się</a>
        </li>
    {% else %}
        <li data-icon="plus"><a class="try" href="/nowe-zgloszenie.html" data-ajax="false">Spróbuj!</a></li>
    {% endif %}

        <li data-role="list-divider"></li>
        <li data-icon="info">
            <a data-ajax="false" {{ active(config.menu, 'jak-zglosic-nielegalne-parkowanie')|raw }}
            href="/jak-zglosic-nielegalne-parkowanie.html">Poradnik „Jak zgłaszać”</a></li>
        <li class="subpage" data-icon="false">
            <a {{ active(config.menu, 'przepisy')|raw }}
                href="/przepisy.html">Przepisy</a></li>
        <li class="subpage" data-icon="false">
            <a data-ajax="false" {{ active(config.menu, 'faq')|raw }}
                href="/faq.html">FAQ</a></li>
        <li class="subpage" data-icon="false">
            <a {{ active(config.menu, 'przesluchanie')|raw }}
                href="/przesluchanie.html">Przesłuchanie świadka</a></li>
        <li class="subpage" data-icon="false">
            <a {{ active(config.menu, 'naklejki-robisz-to-zle')|raw }}
                href="/naklejki-robisz-to-zle.html">Naklejki i mazaki</a>
                <span class="ui-li-count">nowość!</span></li>
        <li data-icon="star">
            <a data-ajax="false" {{ active(config.menu, 'statystyki')|raw }}
            href="/statystyki.html">Statystyki</a></li>

        <li data-role="list-divider"></li>
        {% if general.isLoggedIn %}
        <li data-icon="action">
            <a data-ajax="false" href="/patronite.html">Zostań patronem</a>
        </li>
        {% endif %}
        <li data-icon="action">
            <a target="_blank"
                data-ajax="false" href="https://agendaparkingowa.pl/">Agenda Parkingowa</a>
        </li>
        <li data-icon="action">
            <a target="_blank"
                data-ajax="false" href="https://prawapieszych.pl">Podpisz wniosek do RPO</a>
        </li>

        {% if not general.isLoggedIn %}
        <li data-icon="user"><a href="/start.html" data-ajax="false">Zaloguj/zarejestruj się</a></li>
        {% endif %}

    </ul>

</div><!-- /panel -->