{% if dialog %}
  {% set leftButton = 'menuBack' %}
  {% set rightButton = '' %}
{% else %}
  {% set leftButton = 'menu' %}
  {% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.7 #}

{% set title = 'Często popełniane błedy' %}
{% set shortTitle = 'Często popełniane błędy' %}
{% set description = 'Lista i opis najczęściej popełnienych błędów, wraz z informacją na czym polegają i jak ich unikać.' %}

{% extends "base.html.twig" %}
{% block main %}

  {% macro link(target, name) %}
        <a href="#{{ target }}">{{ name }}</a>
  {% endmacro link %}

  <h2>Często popełniane błędy</h2>
  <p>Błędów nie robi tylko ten, kto nic nie robi. Warto jednak ich unikać, bo wydłużają one czas procesowania zgłoszeń, albo powodują <a href='/przesluchanie.html'>wezwania w celu uzupełnienia zgłoszeń</a>.</p>
  <p>Przeczytaj i zobacz jakie błędy są najczęściej popełniane oraz co zrobić aby ich nie powtórzyć.</p>

  <h4>Spis treści:</h4>
  <ul>
    <li>{{ _self.link('zebra', 'Zebra to nie zawsze przejście dla pieszych.') }}</li>
    <li>{{ _self.link('za-przejsciem', 'Czasami można parkować bezpośrednio za przejściem dla pieszych.') }}</li>
    <li>{{ _self.link('centra-handlowe', 'Parkowanie pod centrami handlowymi.') }}</li>
    <li>{{ _self.link('znak-na-zdjeciu', 'Pamiętaj o zdjęciu z widocznym znakiem.') }}</li>
    <li>{{ _self.link('strona-znaku', 'Niektóre znaki obowiazują tylko po jednej stronie.') }}</li>
  </ul>
    
  <h3 id="zebra">Zebra to nie zawsze przejście dla pieszych.</h3>
  <p>Zgodnie z obowiązującymi przepisami, przejście dla pieszych musi być oznaczone pionowym znakiem D-6 lub D-6b. Same pasy na powierzchni drogi nie są traktowane jako przejście.</p>
  <p>Pamiętaj, aby {{ _self.link('znak-na-zdjeciu', 'znak był widoczny na zdjęciu') }}.</p>

  <p>TODO: przyklady</p>

  <h3 id="za-przejsciem">Czasami można parkować bezpośrednio za przejściem dla pieszych.</h3>

  <p>Minimalna odległość zatrzymania pojazdu 10m od przejścia dla pieszych obowiązuje tylko na drogach dwukierunkowych o dwóch pasach ruchu.</p>
  <p>W przypadku drogi jednokierunkowej dopuszczalne jest zatrzymanie pojazdu bezpośrednio za przejściem.</p>
 
  <p>TODO: przykłady</p>
  
  <h3 id="centra-handlowe">Pod marketami mogą nie obowiązywać przepisy o ruchu drogowym.</h3>
  <p>Parkingi pod marketami mogą być traktowane jako teren prywatny, na którym parkowanie jest regulowane wyłącznie regulaminem zarządcy terenu. Place podlegające PoRD przy wjeździe są oznacza tabliczką "Strefa Ruchu".</p>
  <p>Wyjątek stanowią miejsca dla Osób z Niepełnosprawnością (OzN). Te - gdy są prawidłowo oznakowane - obowiązuja wszędzie.</p>

  <p>TODO: przykłady</p>

  <h3 id="znak-na-zdjeciu">Pamiętaj o zdjęciu z widocznym znakiem</h3>

  <p>Pamiętaj aby dokumentować nie tylko źle zaparkowany pojazd, ale też znak który uzasadnia dane wykroczenie.</p>
  <p>Idealne jest zdjęcie pokazujące znak na tle nieprawidłowo zaparkowanego pojazdu, ale gdy nie jest to możliwe, to w większości przypadków wystarczy niezależne zdjęcie znaku.</p>
  <p>Pamiętaj, że większość znaków {{ _self.link('strona-znaku', 'obowiązuje tylko po tej stronie, po której jest ustawiona') }}.</p>


  <h3 id="strona-znaku">Strona znaku ma znaczenie</h3>
  <p>Znaki takie jak B-35 (<a href='/przepisy.html#b-35'>zakaz postoju</a>), B-36 (<a href='/przepisy.html#b-36'>zakaz zatrzymywania i postoju</a>) obowiazują tylko po tej stronie drogi, przy której zostały ustawione.</p>

{% endblock %}
