{% set leftButton = 'menu' %}

{% set sm = app.guessSMData() %}

{% set rightButton = 'menuNewApplication' %}
{% set rightButtonText = 'Jeszcze raz' %}
{% set rightButtonIcon = 'ui-icon-plus' %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie {% if edited %}numer <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>
    zostało zaktualizowane{% else %}zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>{% endif %}.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="/moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

{% if autoSend %}
<div class="whatNext">
    <h4>Trwa wysyłka zgłoszenia...</h4>
</div>
<div class="afterSend">
    <h4>Dziękujemy za wysłanie zgłoszenia</h4>
</div>
{% elseif sm.unknown %}
    <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu e-mail SM.</b>
    <p>
        Napisz na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
            dla użytkowników Uprzejmie Donoszę</a>
        (lub napisz bezpośrednio do <a href="mailto:szymon@uprzejmiedonosze.net">autora</a>).
        Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
        oraz adres e-mail Straży Miejskiej.
    </p>
{% else %}
    <h4>Co dalej?</h4>
    <p>Zgodnie z ustawieniami twojego konta, twoje zgłoszenie zostało zapisane, ale nie zostało wysłane do <b>{{ sm.getName }}</b>.
    <p><b>Jak wysyłać zgłoszenia?</b> Najprościej jest wysłać całą paczkę zgłoszeń
        do {{ app.guessSMData.getName }}. Służy do tego strona <a href="/wysylka.html?city={{ sm.key|url_encode }}" data-ajax="false">wysyłka</a>.
    </p>
{% endif %}
{% if sm.hint %}
    <h4>Uwagi do współpracy z {{ sm.getName }}</h4>
    <p>{{ sm.hint | raw }}</p>
{% endif %}

{% if appsCount > 3 and sm.email and ( not app.addedToGallery ) %}
<div class="addToGallery {% if autoSend %}afterSend{% endif %}">
    <h4>Dodaj to zdjęcie do galerii</h4>
    <p>Dodaj zdjęcie do <a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>.
    Udostępnimy zdjęcie z kontekstem, numer rejestracyjny (nr rej. to nie dane osobowe!), miasto, twój komentarz oraz rodzaj wykroczenia.</p>

    <span id="{{ app.id }}">
        <a href="#" onclick="addToGallery('{{ app.id }}')"
            class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-btn-inline ui-alt-icon addToGallery
            ui-nodisc-icon ui-icon-grid try">Dodaj do galerii</a>
    </span>
    <a href="#" onclick="ignoreGallery()"
        class="ui-btn ui-mini ui-corner-all ui-btn-inline">Zignoruj</a>
    <div class="tumblr_posts dziekujemy">
        <div class="galleryItem" id="{{app.id}}">
            <img src="{{ app.contextImage.thumb }}" width="600" height="400">
            <p class="desc">
                <b>{{ app.carInfo.plateId }}</b>
                {{ app.address.city}} – {{ app.getCategory.getShort }}
                {% if app.userComment %}
                    <br />{{ app.userComment }}
                {% endif %}
            </p>
        </div>
    </div>
</div><!-- class="addToGallery" -->
<div class="addedToGallery" style="display: none;">
<h4>Zdjęcie zostało dodane do galerii</h4>
<p>Dziękujemy za zgłoszenie zdjęcia do
<a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>. Twoje zdjęcie oczekuje
na moderację i zostanie opublikowane w przeciągu 24h.
</div>
{% endif %}

{% if autoSend %}
<script>
    $(document).on("pageshow", function () {
        if (!$(".dziekujemy").length) return
        sendApplication('{{ app.id }}')
    })
</script>
{% endif %}

{% endblock %}
