{% set leftButton = 'menu' %}

{% set rightButton = 'menuNewApplication' %}
{% set rightButtonText = 'Jeszcze raz' %}
{% set rightButtonIcon = 'ui-icon-plus' %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

{% set sm = app.guessSMData() %}

{% if appsCount > 3 and sm.email %}
<div class="addToGallery">
    <h3>Dodaj to zdjęcie do galerii</h3>
    <p>Dodaj zdjęcie do <a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>.
    Udostępnimy zdjęcie z kontekstem, numer rejestracyjny (który nie jest daną osobową!), miasto oraz rodzaj wykroczenia.</p>

    <span id="{{ app.id }}">
        <a href="#" onclick="addToGallery('{{ app.id }}')"
            class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-btn-inline ui-alt-icon addToGallery
            ui-nodisc-icon ui-icon-grid try">Dodaj do galerii</a>
    </span>
    <a href="#" onclick="ignoreGallery()"
        class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-btn-inline ui-alt-icon
        ui-nodisc-icon ui-icon-grid">Zignoruj</a>
    <div class="tumblr_posts dziekujemy">
        <div class="galleryItem" id="{{app.id}}">
            <img src="{{ app.contextImage.thumb }}" width="600" height="400">
            <p class="desc">
                <b>{{ app.carInfo.plateId }}</b>{% if app.getRecydywa > 1 %}<sup>(recydywista)</sup>{% endif %}
                {{ app.address.city}} – {{ app.getCategory.getShort }}
            </p>
        </div>
    </div>
</div><!-- class="addToGallery" -->
{% endif %}

{% if sm.hasAPI %}

    <p>Co dalej? <b>Twoje zgłoszenie zostało zapisane, ale nie zostało jeszcze wysłane do {{ sm.address[0] }}</b>.
    Na szczęście w twoim mieście SM udostępniła mechanizm, umożliwiający automatyczne przekazanie
    zgłoszenia. {{ sm.hint | raw }}</p>

    <h4>Wyślij swoje zgłoszenie do SM {{ sm.city }}:</h4>
    <a href="#" id="send-{{ app.id }}" onclick="_sendViaAPI('{{ app.id }}')"
        class="ui-btn ui-mini ui-btn-inline ui-btn-icon-left ui-btn-inline ui-alt-icon ui-nodisc-icon ui-icon-mail ui-corner-all cta">Wyślij bezpośrednio do SM</a>
{% else %}
    <p>Co dalej? <b>Swoje zgłoszenia musisz wysłać samodzielnie</b>.
        Na szczęście nie musisz wysyłać każdego zgłoszenia osobno. Możesz
        wygenerować ich kilka/kilkanaście, i wysłać je dogodnym dla siebie cyklu.</p>

    {% if sm.email %}
        <p><b>Jak wysyłać zgłoszenia?</b> Najprościej jest wysłać całą paczkę zgłoszeń
            na adres SM w twoim mieście. Służy do tego strona <a href="wysylka.html" data-ajax="false">wysyłka</a>.
        </p>
        <p>Jeśli masz pytania do mnie, skontaktuj się pod adresem
            <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a>.
        </p>
    {% else %}
        <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu email SM.</b>
            Skontaktuj proszę się z nami pod adresem
            <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a> albo
            <a rel="external" href="https://fb.me/uprzejmiedonosze.net">napisz do nas na FB</a>.
            Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
            oraz adres email Straży Miejskiej.
        </p>
    {% endif %}
{% endif %}

<script>
{{ include('_inline.js.twig') }}
</script>

{% endblock %}
