{% set leftButton = 'menu' %}

{% set sm = app.guessSMData() %}

{% if sm.email %}
    {% set rightButton = 'menuSend' %}
{% else %}
    {% set rightButton = 'menuNewApplication' %}
    {% set rightButtonText = 'Jeszcze raz' %}
    {% set rightButtonIcon = 'ui-icon-plus' %}
{% endif %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

{% if appsCount > 3 and sm.email %}
<div class="addToGallery">
    <h4>Dodaj to zdjęcie do galerii</h4>
    <p>Dodaj zdjęcie do <a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>.
    Udostępnimy zdjęcie z kontekstem, numer rejestracyjny (który nie jest daną osobową!), miasto, twój komentarz oraz rodzaj wykroczenia.</p>

    <span id="{{ app.id }}">
        <a href="#" onclick="addToGallery('{{ app.id }}')"
            class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-btn-inline ui-alt-icon addToGallery
            ui-nodisc-icon ui-icon-grid try">Dodaj do galerii</a>
    </span>
    <a href="#" onclick="ignoreGallery()"
        class="ui-btn ui-mini ui-corner-all ui-btn-inline">Zignoruj</a>
    <div class="tumblr_posts dziekujemy">
        <div class="galleryItem" id="{{app.id}}">
            <img src="{{ app.contextImage.thumb }}" width="600" height="400">
            <p class="desc">
                <b>{{ app.carInfo.plateId }}</b>
                {{ app.address.city}} – {{ app.getCategory.getShort }}
                {% if app.userComment %}
                    <br />{{ app.userComment }}
                {% endif %}
            </p>
        </div>
    </div>
</div><!-- class="addToGallery" -->
<div class="addedToGallery" style="display: none;">
<h4>Zdjęcie zostało dodane do galerii</h4>
<p>Dziękujemy za zgłoszenie zdjęcia do
<a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>. Twoje zdjęcie oczekuje
na moderację i zostanie opublikowane w przeciągu 24h.
</div>
{% endif %}

{% if sm.email %}
<div class="whatNext">
    <h4>Co dalej?</h4>
        <p><b>Twoje zgłoszenie zostało zapisane, ale nie zostało jeszcze wysłane do {{ sm.address[0] }}</b>.

    {% if sm.hasAPI %}
        Na szczęście w twoim mieście SM udostępniła mechanizm, umożliwiający automatyczne przekazanie
        zgłoszenia. Naciśnij przycisk "Wyślij" w prawym górnym rogu.</p><p>{{ sm.hint | raw }}</p>
    {% else %}
        Możesz wysyłać zgłoszenia samodzielnie (za pomocą swojego klienta poczty) za pomocą strony
        <a href="wysylka.html" data-ajax="false">wysyłka</a>.</p>

        <p>Możesz też wysłać swoje zgłoszenie za pośrednictwem serwera Uprzejmie Donoszę. 
        {{ app.guessSMData.address[0] }} otrzyma wiadomość a Ty dostaniesz kopię tej wiadomości.
        Naciśnij przycisk "Wyślij" w prawym górnym rogu.</p><p>{{ sm.hint | raw }}</p>
    {% endif %}
</div>
<div class="whatNextDone" style="display: none;">
    <h4>Dziękujemy za wysłanie zgłoszenia</h4>
</div>

{% else %}
    <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu email SM.</b>
        Skontaktuj proszę się z nami pod adresem
        <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a> albo
        <a rel="external" href="https://fb.me/uprzejmiedonosze.net">napisz do nas na FB</a>.
        Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
        oraz adres email Straży Miejskiej.
    </p>
{% endif %}

<script>
{{ include('_inline.js.twig') }}

    $(document).on('pageshow', function () {
        ga('send', 'event', { eventCategory: 'pageshow', eventAction: 'dziekujemy'});
    });
</script>

{% endblock %}
