{% set leftButton = 'menu' %}

{% set sm = app.guessSMData() %}

{% set rightButton = 'menuNewApplication' %}
{% set rightButtonText = 'Jeszcze raz' %}
{% set rightButtonIcon = 'ui-icon-plus' %}

{% set title = 'Dziękujemy' %}
{% set mainClass = 'dziekujemy' %}

{% set emailBody = 'Dzień dobry,

Proszę o dodanie Straży Miejskiej ' ~ app.address.city ~ ' (zgłoszenie ' ~ app.number ~ '):

Ulica: (uzupełnij proszę)
Adres email: (uzupełnij proszę)

Z poważaniem

' ~ app.user.name ~ '
' %}

{% set emailSubject = 'Brak SM ' ~ app.address.city %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie {% if edited %}numer <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>
    zostało zaktualizowane{% else %}zostało zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>{% endif %}.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="/moje-zgloszenia.html" data-ajax="false">liście swoich zgłoszeń</a>.</p>

{% if app.automatedSM %}
<div class="whatNext">
    <h4>Trwa wysyłka zgłoszenia...</h4>
</div>
<div class="afterSend">
    <h4>Dziękujemy za wysłanie zgłoszenia</h4>
</div>
{% else %}
    <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu e-mail SM.</b>
    <p>
        Napisz na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupie wsparcia
            dla użytkowników Uprzejmie Donoszę</a>
        (lub napisz bezpośrednio do <a href="mailto:szymon@uprzejmiedonosze.net?subject={{ emailSubject|escape('url') }}&body={{ emailBody|escape('url')|replace({'%0A': '%0D%0A'}) }}">autora</a>).
        Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
        oraz adres e-mail Straży Miejskiej.
    </p>
{% endif %}

{% if ( not isPatron ) and ( random(2) == 1 or appsCount == 1 ) %}
{% set dice = random('ABC') %}
{% if dice == 'A' %}

    <h4>Nie lubisz zgłaszać?</h4>
    Zapoznaj się z Miejską Agendą Parkingową i dowiedz się jak niewielkie zmiany
    w przepisach mogą sprawić, że Uprzejmie Donoszę nie będzie potrzebne.
    
        <a href="https://agendaparkingowa.pl/"
            target="_blank" rel="external"
            class="map button"
            data-ajax="false">Miejska Agenda Parkingowa</a>.

{% elseif dice == 'B' %}

    <h4>Podobało Ci się?</h4>

    Dołącz do kilkudziesięciu Patronek i Patronów!

    <a href="/patronite.html" data-ajax="false"
        class="patronite button small">
        Patronite
    </a>

{% elseif dice == 'C' %}
    <h4>Wygodniej niż telefon do SM?</h4>
    Możesz wspomóc Uprzejmie Donoszę jednorazową wpłatą
    niewielkiej kwoty na Suppi.pl (bez prowizji):
    
    <a href="https://suppi.pl/uprzejmiedonosze"
        target="_blank" rel="external" data-ajax="false"
        class="suppi button">Suppi</a>

{% endif %}
{% endif %}

{% if app.automatedSM %}
<script>
    $(document).on("pageshow", function () {
        if (!$(".dziekujemy").length) return
        sendApplication('{{ app.id }}')
    })
</script>
{% endif %}

{% endblock %}
