{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}

{% block main %}
{% for app in applications %}
    <div class="galleryItem">
        <a href="/ud-{{ app.id }}.html?dialog">
            <img class="lazyload" data-src="{{ app.contextImage.thumb }}" width="600" height="400">
        </a>
        <div class="desc">
            <b>{{ app.carInfo.plateId }}</b>{% if app.getRecydywa > 1 %}<sup>(recydywista)</sup>{% endif %}
            {{ app.address.city}} ({{ app.getMonthYear }})
        </div>
    </div>
{% endfor %}
{% endblock %}
