{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}

{% block main %}
{% for app in applications %}
    <div class="galleryItem">
        <a href="#popup" data-rel="popup" data-position-to="window" data-transition="fade"
            data-target-img="{{ app.contextImage.url }}">
            <img class="lazyload" data-src="{{ app.contextImage.thumb }}" width="600" height="400">
        </a>
        <div class="desc">
            <b>{{ app.carInfo.plateId }}</b>{% if app.getRecydywa > 1 %}<sup>(recydywista)</sup>{% endif %}
            {{ app.address.city}} ({{ app.getMonthYear }})
        </div>
    </div>
{% endfor %}
    <div data-role="popup" id="popup" data-overlay-theme="a" data-theme="a" data-corners="false">
        <a href="#" data-rel="back"
            class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <img class="popphoto" src="/img/loading.gif" style="max-height:800px;">
    </div>
    <script>
        /* @TODO SZN */
        $('.galleryItem > a').click(function(){
            $('img.popphoto').attr('src', '/img/loading.gif');
            $('img.popphoto').attr('src', this.getAttribute('data-target-img'));
            $('img.popphoto').resize();
        });
    </script>
{% endblock %}
