{% set leftButton = 'menu' %}
{% if general.isLoggedIn %}
{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:1.0 #}

{% set mainClass = 'mainPage' %}

{% extends "base.html.twig" %}

{% block main %}

{% if general.isLoggedIn %}

<h3 class="introHeader">Cześć {{ general.userName }},</h3>
<p>
    {{ levels[general.stats.level].introMsg | raw }}
</p>
<div class="heros">
    {% for levelId,levelDef in levels %}
    <div class="hero {% if general.stats.level == levelId %}active{% endif %}">
        <img src="{{ levelDef.img }}">
        <p>{{ levelDef.desc }}</p>
    </div>
    {% endfor %}
</div>

<p>Twoje statystyki:</p>
<fieldset class="gauges">
    <div class="gauge">
        <h3>
            {% if general.stats.active ?? 0 > 0 %}
                <a href="/moje-zgloszenia.html">{{ general.stats.active|number_format(0, ',', ' ') }}</a>
            {% else %}
                <a href="/nowe-zgloszenie.html" data-ajax="false">Stwórz pierwsze</a>
            {% endif %}
        </h3>
        <p>Aktywne zgłoszenia</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-fined'] ?? 0 > 0 %}
            {{ general.stats['confirmed-fined']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Mandaty</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-instructed'] ?? 0 > 0 %}
            {{ general.stats['confirmed-instructed']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Pouczenia</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.points ?? 0 > 0 %}
            {{ general.stats.points|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Punkty karne</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.mandates ?? 0 > 0 %}
            {{ general.stats.mandates|number_format(0, ',', ' ') }} zł
            {% else %}0{% endif %}
        </h3>
        <p>Kwota mandatów</p>
    </div>
</fieldset>

<p>Twoje odznaki:</p>

<fieldset class="badges">
    {% for badgeId,badge in badges %}
    <div data-role="popup" id="popup-badge-{{ badgeId }}">
        <p>{{ badge.desc|raw }}</p>
    </div>
    <a href="#popup-badge-{{ badgeId }}" data-rel="popup" data-transition="pop">
        <div class="badge {% if badgeId in general.stats.badges %}active{% endif %}">
            <img src="{{ badge.img }}">
            <p>{{ badge.name }}</p>
        </div>
    </a>
    {% endfor %}
</fieldset>
{% else %}

<h2>Pomagamy walczyć z nielegalnym parkowaniem!</h2>

<ul class="main-page-stats">
    <li><em>{{ (config.stats.apps / 1000) | round(0)}} tysięcy</em> wysłanych zgłoszeń</li>
    <li><em>{{ (config.stats.users / 1000) | round(0) }} tysięcy</em> użytkowników</li>
    <li>generujemy <em>prawidłowe i kompletne</em> zgłoszenie</li>
    <li>wysyłamy do właściwego oddziału SM w <em>{{ config.stats.sm }} miejscowościach</em></li>
    <li>ułatwia życie Tobie i służbom</li>
</ul>


<a href="/nowe-zgloszenie.html" data-ajax="false"
    class="ui-btn ui-mini ui-corner-all ui-btn-inline try">
        Zgłoś nieprawidłowe parkowanie!
</a>
<p></p>

<h3>Jak działa Uprzejmie Donoszę?</h3>
<div class="video video-landscape">
    <video controls poster="img/ud-intro-desktop.png?width=800">
        <source src="/img/video/ud-intro-desktop.mp4" type="video/mp4" />
        <source src="/img/video/ud-intro-desktop.webm" type="video/webm" />
        <source src="/img/video/ud-intro-desktop.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="/img/video/ud-intro-desktop.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a target="_blank" href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768">
        materiał Uwaga! TVN
        </a>
        poświęcony patoparkowaniu.
    </p>
</div>

<div class="video video-portrait">
<video controls poster="/img/ud-intro-mobile.png?width=720">
        <source src="/img/video/ud-intro-mobile.mp4" type="video/mp4" />
        <source src="/img/video/ud-intro-mobile.webm" type="video/webm" />
        <source src="/img/video/ud-intro-mobile.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="/img/video/ud-intro-mobile.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a target="_blank" href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768">
        materiał Uwaga! TVN
        </a>
        poświęcony patoparkowaniu.
    </p>
</div>
<p></p>
{% endif %}


<h3>Nie chcesz „donosić”? Dowiedz się, co możesz zrobić</h3>

<p>Obowiązujące w Polsce przepisy zachęcają
    do nielegalnego parkowania. W prawie drogowym nie występują takie słowa jak 
    „zieleń”, „trawa”. Nie występuje też słowo „dostawca” albo „zaopatrzenie”.
    To właśnie dlatego każdy skrawek zieleni w mieście musi być otoczony płotkiem,
    oraz każdy kto oświadczy, że ma coś do noszenia magicznie staje się dostawcą.
</p>
<p>Inne, równie bulwersujące przykłady:</p>
<ul>
    <li>Pieszych i pasażerów komunikacji miejskiej obejmują o wiele surowsze kary za wykroczenia niż kierowców.</li>
    <li>W praktyce parkowanie w parkach nie jest zabronione.</li>
    <li>Taniej jest parkować nielegalnie przez tydzień niż płacić w strefie parkowania przez ten sam czas.</li>
    <li>Stawki mandatów związanych z parkowaniem nie zostały zaktualizowane od 20 lat, a „opłata dodatkowa” za jazdę na gapę wzrosła w tym czasie o 500%.</li>
</ul>

<p>Dlatego <strong>zapoznaj się i podpisz</strong> mój
    <a href="https://prawapieszych.pl/" data-ajax="false" target="_blank" class="try">wniosek do Rzecznika Praw Obywatelskich</a>, jeśli:
    <ol>
        <li>Chcesz, żeby centra polskich miast nie były zastawione słupkami.</li>
        <li>Przepisy nie promowały nielegalnego parkowania.</li>
        <li>Zależy Ci na ochronie zieleni w miastach.</li>
        <li>Chcesz ucywilizować zaopatrzenie sklepów i pracę kurierów, tak żeby mogli wykonywać swoją pracę bez niszczenia infrastruktury.</li>
    </ol>
</p>

{% if general.isLoggedIn and 'patron' in general.stats.badges %}
{% else %}

<p>Możesz też zaostać
    <a href="https://patronite.pl/uprzejmiedonosze" target="_blank" data-ajax="false">patronem Uprzejmie Donoszę</a>.
    Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla
    pieszych. Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.
</p>

<iframe src="https://patronite.pl/widget/uprzejmiedonosze/760385/small/000000/F9F9F9" width="100%" height="320" frameborder="0" scrolling="no"></iframe>

<p>
    Nie chcesz subskrybcji Patronite? <a href="https://suppi.pl/uprzejmiedonosze" target="_blank">Suppi pozwala na jednorazową wpłatę niewielkiej kwoty</a> (za którą z góry dziękuję).
</p>
{% endif %}

{% endblock %}