{% set leftButton = 'menu' %}
{% if general.isLoggedIn %}
{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:1.0 #}

{% set mainClass = 'mainPage' %}

{% extends "base.html.twig" %}

{% block main %}

{% if general.isLoggedIn %}

<h3 class="introHeader">Cześć {{ general.userName }},</h3>
<p>
    {{ levels[general.stats.level].introMsg | raw }}
</p>
<div class="heros">
    {% for levelId,levelDef in levels %}
    <div class="hero {% if general.stats.level == levelId %}active{% endif %}">
        <img src="{{ levelDef.img }}">
        <p>{{ levelDef.desc }}</p>
    </div>
    {% endfor %}
</div>

<p>Twoje statystyki:</p>
<fieldset class="gauges">
    <div class="gauge">
        {% if general.stats.active ?? 0 > 0 %}
        <h3>
            <a href="/moje-zgloszenia.html">{{ general.stats.active|number_format(0, ',', ' ') }}</a>
        </h3>
        <p><a href="/moje-zgloszenia.html">Aktywne zgłoszenia</a></p>
        {% else %}
        <h3>
            <a href="/nowe-zgloszenie.html">Stwórz pierwsze</a>
        </h3>
        <p>Aktywne zgłoszenia</p>
        {% endif %}
        
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-fined'] ?? 0 > 0 %}
            {{ general.stats['confirmed-fined']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Mandaty</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-instructed'] ?? 0 > 0 %}
            {{ general.stats['confirmed-instructed']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Pouczenia</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.points ?? 0 > 0 %}
            {{ general.stats.points|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Punkty karne</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.mandates ?? 0 > 0 %}
            {{ general.stats.mandates|number_format(0, ',', ' ') }} zł
            {% else %}0{% endif %}
        </h3>
        <p>Kwota mandatów</p>
    </div>
</fieldset>

<p>Twoje odznaki:</p>

<fieldset class="badges">
    {% for badgeId,badge in badges %}
    {% set former_patron = (badgeId == 'patron' and 'former_patron' in general.stats.badges) %}
    <dialog data-role="popup" id="popup-badge-{{ badgeId }}">
        <p>{{ badge.desc|raw }}</p>
    </dialog>
    <a href="#popup-badge-{{ badgeId }}" data-rel="popup">
        <div class="badge {% if badgeId in general.stats.badges %}active{% endif %} {% if former_patron %}former_patron{% endif %}">
            <img src="{{ badge.img }}">
            <p>
            {% if former_patron %}
                Były patron ☹︎
            {% else %}
                {{ badge.name }}
            {% endif %}
            </p>
        </div>
    </a>
    {% endfor %}
</fieldset>
{% else %}

<h2>Pomagamy walczyć z nielegalnym parkowaniem!</h2>

<ul class="main-page-stats">
    <li><em>{{ (config.stats.apps / 1000) | round(0)}} tysięcy</em> wysłanych zgłoszeń</li>
    <li><em>{{ (config.stats.users / 1000) | round(0) }} tysięcy</em> użytkowników, których dane osobowe są bezpiecznie zaszyfrowane</li>
    <li>generujemy <em>prawidłowe i kompletne</em> zgłoszenie</li>
    <li>wysyłamy do właściwego oddziału SM w <em>{{ config.stats.sm }} miejscowościach</em></li>
    <li>ułatwiamy życie Tobie i służbom</li>
    <li>walczymy o <a target="_blank" rel="external" href="https://agendaparkingowa.pl/">zmianę przepisów</a></li>
</ul>


<a href="/nowe-zgloszenie.html"
    class="button cta">
        Zgłoś nieprawidłowe parkowanie!
</a>
<p></p>

<h3>Jak działa Uprzejmie Donoszę?</h3>
<div class="video video-landscape">
    <video controls poster="img/ud-intro-desktop.png?width=800">
        <source src="/img/video/ud-intro-desktop.mp4" type="video/mp4" />
        <source src="/img/video/ud-intro-desktop.webm" type="video/webm" />
        <source src="/img/video/ud-intro-desktop.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="/img/video/ud-intro-desktop.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768"
            target="_blank"
            rel="external">materiał Uwaga! TVN</a>
        poświęcony patoparkowaniu.
    </p>
</div>

<div class="video video-portrait">
<video controls poster="/img/ud-intro-mobile.png?width=720">
        <source src="/img/video/ud-intro-mobile.mp4" type="video/mp4" />
        <source src="/img/video/ud-intro-mobile.webm" type="video/webm" />
        <source src="/img/video/ud-intro-mobile.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="/img/video/ud-intro-mobile.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768"
            target="_blank"
            rel="external">materiał Uwaga! TVN</a>
        poświęcony patoparkowaniu.
    </p>
</div>
<p></p>
{% endif %}

<h3>Nie chcesz „donosić”? Dowiedz się, co możesz zrobić</h3>

<p>Zapoznaj się z
    <a href="https://agendaparkingowa.pl/"
        target="_blank"
        rel="external">Miejską Agendą Parkingową</a>
    i dowiedz się jak niewielkie
    zmiany w przepisach mogą sprawić, że Uprzejmie Donoszę nie będzie potrzebne.
</p>
<div class="images-slider">
    <div class="imageContainer">
        <a href="https://agendaparkingowa.pl/"
            target="_blank"
            rel="external">
            <img src="/img/agenda-parkingowa-media-1.webp?width=250"
                data-src="/img/agenda-parkingowa-media-1.jpeg"
                class="lazyload" />
        </a>
    </div>
    <div class="imageContainer">
        <a href="https://agendaparkingowa.pl/"
            target="_blank"
            rel="external">
            <img src="/img/agenda-parkingowa-media-4.webp?width=250"
                data-src="/img/agenda-parkingowa-media-4.jpeg"
                class="lazyload" />
        </a>
    </div>
</div>

{% if general.isLoggedIn and 'patron' in general.stats.badges %}

<p>Zachęcam też do poparcia mojego 
    <a href="https://prawapieszych.pl/"
        target="_blank"
        rel="external">wniosku do Rzecznika Praw Obywatelskich</a>.
</p>

{% else %}

<p>Możesz też wesprzeć Uprzejmie Donoszę i Agendę Parkingową na Patronite.
    Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla
    pieszych. Twoje wsparcie bardzo mi w tym pomoże.
</p>

<a href="/patronite.html"
    class="patronite button">
    Dołącz do {{ config.stats.patrons }} Patronek i Patronów!
</a>

<p>
    Nie chcesz subskrybcji?
    <a href="https://suppi.pl/uprzejmiedonosze"
        target="_blank"
        rel="external">Suppi pozwala na jednorazową wpłatę niewielkiej kwoty</a>
    (za którą z góry dziękuję).
</p>
{% endif %}

{% endblock %}