{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:1.0 #}

{% extends "base.html.twig" %}

{% block main %}

{% if general.isLoggedIn %}

<h3 class="introHeader">Cześć {{ general.userName }},</h3>
<p>
    {{ levels[general.stats.level].introMsg | raw }}
</p>
<div class="heros">
    {% for levelId,levelDef in levels %}
    <div class="hero {% if general.stats.level == levelId %}active{% endif %}">
        <img src="{{ levelDef.img }}">
        <p>{{ levelDef.desc }}</p>
    </div>
    {% endfor %}
</div>

<p>Twoje statystyki:</p>
<fieldset class="gauges">
    <div class="gauge">
        <h3>
            {% if general.stats.active ?? 0 > 0 %}
                <a href="/moje-zgloszenia.html">{{ general.stats.active|number_format(0, ',', ' ') }}</a>
            {% else %}
                <a href="/nowe-zgloszenie.html" data-ajax="false">Stwórz pierwsze</a>
            {% endif %}
        </h3>
        <p>Aktywne zgłoszenia</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-fined'] ?? 0 > 0 %}
            {{ general.stats['confirmed-fined']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Mandaty</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats['confirmed-instructed'] ?? 0 > 0 %}
            {{ general.stats['confirmed-instructed']|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Pouczenia</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.points ?? 0 > 0 %}
            {{ general.stats.points|number_format(0, ',', ' ') }}
            {% else %}0{% endif %}
        </h3>
        <p>Punkty karne</p>
    </div>
    <div class="gauge">
        <h3>
            {% if general.stats.mandates ?? 0 > 0 %}
            {{ general.stats.mandates|number_format(0, ',', ' ') }} zł
            {% else %}0{% endif %}
        </h3>
        <p>Kwota mandatów</p>
    </div>
</fieldset>

<p>Twoje odznaki:</p>

<fieldset class="badges">
    {% for badgeId,badge in badges %}
    <div data-role="popup" id="popup-badge-{{ badgeId }}">
        <p>{{ badge.desc|raw }}</p>
    </div>
    <a href="#popup-badge-{{ badgeId }}" data-rel="popup" data-transition="pop">
        <div class="badge {% if badgeId in general.stats.badges %}active{% endif %}">
            <img src="{{ badge.img }}">
            <p>{{ badge.name }}</p>
        </div>
    </a>
    {% endfor %}
</fieldset>
{% else %}

<h2>O co chodzi?</h2>

<p>Każdy z nas chce swobodnie i bezpiecznie poruszać się po
    mieście. Niestety nie zawsze jest to możliwe. Zbyt
    często, jako piesi, zmuszeni jesteśmy do przeciskania się, chodzenia
    gęsiego, omijania, wkraczania na jezdnię zza zaparkowanych pojazdów, a
    nawet ustępowania jeżdżącym po chodnikach samochodom.</p>

<p>
    Uprzemie Donoszę to ogólnopolskie rozwiązanie, pomagające w zgłaszeniu
    przypadków nieprawidłowego parkowania, które wpływają na bezpieczeństwo
    i komfort pieszych. Zgłoszenie stworzone za pomocą tego serwisu zawiera
    komplet wymaganych przez Straż Miejską lub Policję informacji.
    Ułatwia pracę Tobie i służbom. Zobacz, jakie to proste:
</p>
    
<div class="video video-landscape">
    <video controls poster="img/ud-intro-desktop.png">
        <source src="img/video/ud-intro-desktop.mp4" type="video/mp4" />
        <source src="img/video/ud-intro-desktop.webm" type="video/webm" />
        <source src="img/video/ud-intro-desktop.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="img/video/ud-intro-mobile.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a target="_blank" href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768">
        materiał Uwaga! TVN
        </a>
        poświęcony patoparkowaniu.
    </p>
</div>

<div class="video video-portrait">
<video controls poster="img/ud-intro-mobile.png">
        <source src="img/video/ud-intro-mobile.mp4" type="video/mp4" />
        <source src="img/video/ud-intro-mobile.webm" type="video/webm" />
        <source src="img/video/ud-intro-mobile.ogv" type="video/ogg" />
        <p>
            Twoja przeglądarka nie wspiera odtwarzania plików wideo.
            <a href="img/video/ud-intro-mobile.mp4">Pobierz film</a>.
        </p>
    </video>
    <p>Zobacz też
        <a target="_blank" href="https://uwaga.tvn.pl/reportaze/parkowanie-w-wielkim-miescie-kierowcy-wola-zaryzykowac-100-zlotowy-mandat-niz-placic-za-caly-dzien-st7305768">
        materiał Uwaga! TVN
        </a>
        poświęcony patoparkowaniu.
    </p>
</div>

<a href="/nowe-zgloszenie.html" data-ajax="false" class="ui-btn ui-mini ui-corner-all ui-btn-inline try">Sprawdź jak to działa</a>
<a target="_blank" href="https://fb.me/uprzejmiedonosze.net"
    class="fb-button ui-mini ui-btn ui-corner-all ui-btn-inline">Śledź nas na FB</a>

{% endif %}

<h3>Nie chcesz „donosić”? Dowiedz się, co możesz zrobić</h3>

<p>Obowiązujące w Polsce przepisy zachęcają
    do nielegalnego parkowania. W prawie drogowym nie występują takie słowa jak 
    „zieleń”, „trawa”. Nie występuje też słowo „dostawca” albo „zaopatrzenie”.
    To właśnie dlatego każdy skrawek zieleni w mieście musi być otoczony płotkiem,
    oraz każdy kto oświadczy, że ma coś do noszenia magicznie staje się dostawcą.
</p>
<p>Inne, równie bulwersujące przykłady:</p>
<ul>
    <li>Pieszych i pasażerów komunikacji miejskiej obejmują o wiele surowsze kary za wykroczenia niż kierowców.</li>
    <li>W praktyce parkowanie w parkach nie jest zabronione.</li>
    <li>Taniej jest parkować nielegalnie przez tydzień niż płacić w strefie parkowania przez ten sam czas.</li>
    <li>Stawki mandatów związanych z parkowaniem nie zostały zaktualizowane od 20 lat, a „opłata dodatkowa” za jazdę na gapę wzrosła w tym czasie o 500%.</li>
</ul>

<p>Dlatego <strong>zapoznaj się i podpisz</strong> mój
    <a href="https://prawapieszych.pl/" data-ajax="false" target="_blank" class="try">wniosek do Rzecznika Praw Obywatelskich</a>, jeśli:
    <ol>
        <li>chcesz, żeby centra polskich miast nie były zastawione słupkami;
        <li>przepisy nie promowały nielegalnego parkowania;</li>
        <li>zależy Ci na ochronie zieleni w miastach;</li>
        <li>chcesz ucywilizować zaopatrzenie sklepów i pracę kurierów, tak żeby mogli wykonywać swoją pracę bez niszczenia infrastruktury.</li>
    </ol>
</p>

{% if general.isLoggedIn and 'patron' in general.stats.badges %}
{% else %}

<p>Możesz też zaostać
    <a href="https://patronite.pl/uprzejmiedonosze" target="_blank" data-ajax="false">patronem Uprzejmie Donoszę</a>.
    Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla
    pieszych. Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.
</p>

<iframe src="https://patronite.pl/widget/uprzejmiedonosze/760385/small/000000/F9F9F9" width="100%" height="320" frameborder="0" scrolling="no"></iframe>
{% endif %}

<h3>Obowiązujące przepisy</h3>

<p>Na stronie <a href="/przepisy.html">z obowiązującymi przepisami</a> dowiesz
    się, jak poprawnie zaparkować swój samochód i na jakie przepisy powoływać
    się w rozmowie z kierowcami. Ostatecznie dowiesz się także, jaką kategorię
    naruszenia przepisów wybrać dla swojego zgłoszenia.</p>

<h3>Kontakt i polityka prywatności</h3>

<p>Brakuje danych Straży Miejskiej w twoim mieście? Masz uwagi do rozwiązania?
    Zajrzyj na stronę <a rel="external" href="https://fb.me/uprzejmiedonosze.net">Uprzejmie Donoszę na FB</a>.

<p>Zapraszamy także na <a rel="external" href="https://www.facebook.com/groups/patologiaparkingowa/">grupę wsparcia
        dla użytkowników Uprzejmie Donoszę</a>.</p>

<p>Zapoznaj się z <a href="/polityka-prywatnosci.html">polityką prywatności</a> Uprzejmie Donoszę.</p>

<h3>Historia zmian</h3>

<p>Zobacz <a href="/changelog.html">historię zmian</a>.</p>


{% endblock %}