{% if dialog %}
	{% set leftButton = 'menuBack' %}
	{% set rightButton = '' %}
{% else %}
	{% set leftButton = 'menu' %}
	{% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.9 #}

{% set title = 'Jak złożyć wniosek o słupki?' %}
{% set shortTitle = 'Poradnik: słupki' %}
{% set description = 'Jak złożyć wniosek o postawienie słupków utrudniających nielegalne parkowanie samochodu?' %}
{% set mainClass = 'how' %}

{% extends "base.html.twig" %}
{% block main %}

	<h2>{{ shortTitle }}</h2>

	{% macro link(target, name) %}
		<a href="#{{ target }}" onclick="window._scrollToHowTo('#{{ target }}')">{{ name }}</a>
	{% endmacro link %}

	<p>
		Składanie wniosku o słupki to fascynujący proces, do którego gorąco zachęcam. Owszem,
		proces ten uczy cierpliwości. Ale sukces daje dużo satysfakcji.
	</p>
	<p>Uwaga na start:</p>
	<p>Dużo <em>prościej jest zgłosić uzupełnienie słupków niż wstawienie nowych</em>. Zanim zgłosisz wniosek
		o słupki sprawdź bardzo dokładnie, czy nie ma tam najmniejszych śladów po zabezpieczeniach
		przed nielegalnym parkowaniem. Kierowcy słupki nagminnie wycinają i wyrywają. Każdy ślad 
		interpretuj na korzyść „był słupek” i wnoś o naprawienie zniszczonej infrastruktury, a nie
		tworzenie nowej.</p>
	
	<h3 class="howto">Sprawdź jak możesz wnioskować o słupki</h3>
	<ul>

		<li>{{ _self.link('znajdź-właściciela', 'Formalne: Znajdź właściciela terenu i wyślij wniosek o słupki') }}</li>
		<li>{{ _self.link('zrób-to-sam', 'Nieformalne: Zrób to sam') }}</li>
	</ul>
	<div class="howtos">
		<div class="howto" id="znajdź-właściciela">
			<h3 class="title">Znajdź właściciela terenu i wyślij wniosek o słupki</h3>
			<div class="card">
				<figure>
					<img src="/img/how-wlasnosc-gruntu.png?width=800&as=jpg&quality=90">
				</figure>
				<div class="content">

					<p>Ze względu na decyzję szefa UODO, uzyskanie informacji o właścicielu danego terenu
						jest bardzo utrudnione. Serwisy takie jak Geoportal dostarczają jedynie podstawowych
						danych o działce, bez informacji umożliwiających sprawną identyfikację właściciela
						gruntu. W związku z tym konieczne może być złożenie wniosku do urzędu miasta w ciemno.
						Jeśli to nie ich teren, to Ci z pewnością odpiszą a to już jakiś trop.</p>
					<p><em>Tereny miejskie</em></p>
					<p>
						Jeśli działka należy do miasta, należy skierować wniosek o ustawienie słupków
						do urzędu miasta lub gminy. Pismo adresuje się do prezydenta lub wójta – urząd
						przekaże Twój wniosek do odpowiedniego wydziału.</p>

					<p><em>Inny zarządca — wspólnoty, spółdzielnie mieszkaniowe, instytucje</em></p>
					<p>
						Patoparkingi przy osiedlach i obiektach handlowych często znajdują się na
						terenach należących do wspólnot lub innych zarządców. Wbrew pozorom, taka
						sytuacja może być korzystna – prosty e-mail do wspólnoty często okazuje się
						skuteczny, po 2–3 miesiącach miejsce może zostać zabezpieczone.</p>

					<p>Nazwę danego zarządcy (np. spółdzielni) możesz znaleźć na tabliczkach
						informacyjnych, pieczątkach, harmonogramach wywozu odpadów, w grupach osiedlowych,
						pytając mieszkańców lub w dowolny inny sposób.</p>
					
					<p><em>Co napisać we wniosku?</em></p>
					<p>
						Opisz problem. Pokaż przykładowe zdjęcia ze zniszczeniami. Poinformuj, że 
						próby rozwiązania problemu za pomocą SM nie przyniosły skutków (możesz
						załączyć jakieś przykładowe zgłoszenia z UD). Jeśli parkujący stwarzają 
						zagrożenie dla pieszych – opisz to.
					</p>
					<p>W skrócie: pokaż, że słupki to ostateczność, ale właśnie taka sytuacja
						jest w tym miejscu.
					</p>
					<p>Jeśli nie lubisz pisać pism, to poproś ChataGPT/Gemini, żeby napisali to za
						Ciebie. Wrzuć mi zdjęcie, wklej ten poradnik i poproś o pismo do urzędu. Napisze.

					<p><em>Co odpisać po odmowie?</em></p>
					<p>
						Miasto/wspólnota najprawdopodobniej odmówi Ci wstawienia słupków. Napiszą, że 
						słupki są drogie a przypadki nielegalnego parkowania należy zgłaszać „odpowiednim
						służbom”.
					</p>
					<p>
						To normalne, nie przejmuj się. Odczekaj miesiąc-dwa. Zrób nowe zdjęcia. Dodaj
						trochę ewidencji prób rozwiązania problemu przez SM. I wyślij jeszcze raz. To zazwyczaj
						pomaga.
					</p>
					<p>Jeśli chcesz „potrolować” urząd, to napisz, że zasposorujesz te słupki, jeśli
						urzędu na nie nie stać (zignorują twoją propozycję).</p>


				</div>
			</div>
		</div>

		<div class="howto" id="Warszawa">
			<h3 class="title">Warszawa: skorzystaj z aplikacji lub serwisu 19115</h3>
			<div class="card">
				<div class="content">
					<p>Warszawa umożliwia składanie wniosków o ustawienie słupków za pośrednictwem
						miejskiej aplikacji 19115. Na podstawie dotychczasowych doświadczeń
						warszawskich użytkowników możesz spodziewać się trzech możliwych scenariuszy.</p>

					<ul>
						<li>Wniosek zostaje przekazany do odpowiedniego wydziału, jeśli teren należy do miasta
							(np. ZDM) lub instytucji państwowej (np. GDDKiA).</li>
						<li>Wniosek trafia do zarządcy danego terenu, np. wspólnoty mieszkaniowej.</li>
						<li>Otrzymujesz informację, że wniosek nie został przekazany, ale dowiadujesz
							się, kto jest zarządcą gruntu.</li>
					</ul>

					<p>Nawet w najgorszym przypadku aplikacja rozwiązuje podstawowy problem związany
						ze słupkami, czyli umożliwia ustalenie właściciela terenu.</p>

					<p>Korzystanie z aplikacji lub serwisu może być nieco utrudnione ze względu na ich
						złożoność i mało intuicyjny podział (zwłaszcza dla początkujących).
						Poniżej przedstawiamy krótki przewodnik, jak wysłać wniosek przez 19115:</p>

					<ul>
						<li>przejdź do serwisu www lub pobierz aplikację (iOS, Android),</li>
						<li>wybierz kategorię: drogi, zmiana organizacji ruchu,</li>
						<li>wskaż dokładne miejsce zgłoszenia na mapie,</li>
						<li>czego dotyczy problem: montaż nowych słupków...
							— podaj jak najwięcej informacji i dołącz zdjęcia dokumentujące problem,</li>
						<li>podaj swój email, żeby móc śledzić losy zgłoszenia i otrzymać odpowiedź.</li>
					</ul>

					<p>
						<em>Naprawa słupków 19115</em>
					</p>

					<p>Aplikacji bądź serwisu możesz użyć również w celu zgłoszenia uszkodzonych słupków:</p>

					<ul>
						<li>kategoria: drogi,</li>
						<li>uszkodzenie barierki, słupka, znaku,</li>
						<li>wskaż miejsce na mapie,</li>
						<li>podaj szczegóły i zdjęcia.</li>
					</ul>

					<p>Miasto przeważnie bardzo sprawnie reaguje na te zgłoszenia.</p>
				</div>
			</div>
		</div>

		<div class="howto" id="zrób-to-sam">
			<h3 class="title">Zrób to sam</h3>
			<div class="card">
				<figure>
					<img src="/img/how-zrob-to-sam.jpg?width=800&as=jpg&quality=90">
				</figure>
				<div class="content">
					<p>
						Czasem to najszybsze i najbardziej skuteczne rozwiązanie. Pamiętaj, że stawianie
						takich zabezpieczeń może oznaczać złamanie jakiejś regulacji. Stosuj je z rozwagą,
						i dopiero po wyczerpaniu innych środków.
					</p>
					<p><em>Taśma ostrzegawcza:</em> jest niezastąpiona jeśli masz do czynienia ze sporadycznym
						ale uciążliwym najazdem. Np. mieszkasz przy stadionie albo hali koncertowej. Zabezpieczenie
						zieleni taką taśmą naprawdę przynosi niezłe efekty, jest tanie i szybkie.</p>
					<p>Taśmę kupisz w zwykłem markecie (hasło „taśma ostrzegawcza”). Przy rozwieszaniu przydają
						się rękawice (mocno brudzi ręce). Jeśli dzień jest wietrzny, to nie możesz robić większych
						odstępów między mocowaniami (max 4-5 metrów), bo wiatr porwie taśmę.</p>
					<p>Pamiętaj, żeby zdjąć taką taśmę bezpośrednio po imprezie.</p>

					<p><em>Drewniane paliki:</em> przydają się do szybkiego zabezpieczenia zieleni. Wystarczą paliki
						z marketu (bardzo porządne są już za 10 zł sztuka) oraz młotek. Jeśli ziemia jest już
						udeptana przez auta może być niezbędna wiertnica (trudno wbić taki kołek w klepisko).</p>
					<p>Pamiętaj, że jest to trwałe zabezpieczenie. Nie ingeruj w przestrzeń, po której mogą
						poruszać się piesi. Twoje konstrukcja ma zabezpieczyć zieleń, a nie stworzyć zagrożenie.</p>

					<p><em>Kamienie:</em> jeśli się dobrze rozejrzysz to zorientujesz się jak popularne jest
						to rozwiązanie. Na przykładzie powyżej jest właśnie taka akcja: „jeden kamień co 
						spacer z psem”. Pomogło!</p>

					<p>Na deser film motywujący<a href="https://www.youtube.com/watch?v=_6ixRtBMefU" target="blank" rel="external">
					Nie mam pojęcia o ogrodnictwie</a></p>

				</div>
			</div>
		</div>
    </div>
{% endblock %}
