{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% set title = 'Moje zgłoszenia' %}
{% set mainClass = 'my-applications' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Przeglądaj swoje zgłoszenia</h2>
{% if countChanged > 0 %}
<p><b>(zmieniliśmy status {{ countChanged }} zgłoszeń)</b></p>
{% endif %}

{% if applications|length == 0 %}
    <p>Nie masz jeszcze ani jednego zgłoszenia.</p>
    <a href="/nowe-zgloszenie.html" class="button cta last">Stwórz nowe</a>
{% else %}
    <p>Wybierz zgłoszenie poniżej, żeby zobaczyć jego szczegóły, zmienić mu status lub pobrać wersję do druku.</p>

    {% if general.stats.confirmed ?? 0 > 0 %}
        <p>Masz <b>zgłoszenia czekające na wysłanie</b>.
        Rozwiń zgłoszenia poniżej, i wybierz duży przycisk „wyślij”.</p>
    {% endif %}


    <form autocomplete="off">
        <input autocomplete="false" data-type="filterable" type="text" id="apps"
            placeholder="Adres, numer rej. lub zgłoszenia, data, komentarz" value="{{ query }}">
        <ul class="status-filter">
        {% for key,val in statuses %}
            {% if val.class %} {# class is empty, this is a draft or ready #}
                <li class="status {{key}}"><a href="#" id="{{ key }}">{{ val.name|upper }}</a> <span class="ui-li-count"></span></li>
            {% endif %}
        {% endfor %}
        </ul>
    </form>
    
    <dialog data-role="popup" id="patronite"> 
        <a href="#" data-rel="back">Close</a>
        <p><b>Cieszę się, że zmieniłeś na lepsze swoje otoczenie!</b></p>
        <p>Chciałbym poświęcić więcej czasu swojej misji odzyskania przestrzeni dla pieszych.
            Twoje wsparcie dla serwisu Uprzejmie Donoszę może mi w tym bardzo pomóc.</p>
            <a class="button patronite small"
                href="/patronite.html"
                data-ajax="false">Zostań Patronem</a>
        </p>
    </dialog>


    <div id="recydywa" class="popup-overlay">
        <div class="ui-content popup-content">
        </div>
    </div>

    <div data-role="collapsibleset" data-iconpos="right" data-filter="true" id="apps-list">
        {% for app in applications %}
            {% if loop.index0 >= myAppsSize %}
                {% set hideAppOverLimit = true %}
            {% endif %}
            {% include('_application-short.html.twig') %}
        {% endfor %}
    </div>
    {% if myAppsSize < applicationsCount %}
    <div class="displayAllApps">
        <p>To tylko {{ myAppsSize }} najnowszych zgłoszeń.</p>
        <a href="#" class="button light last">Pokaż wszystkie</a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}