{% set leftButton = 'menu' %}

{% set title = 'Nowe zgłoszenie' %}
{% set mainClass = 'new-application' %}
{% set rightButton = 'newAppNext' %}

{% extends "base.html.twig" %}
{% block footer %}
<footer></footer>
{% endblock %}
{% block main %}

<form action="/potwierdz.html?id={{ app.id }}" id="form" method="post">
    <input type="hidden" name="applicationId" id="applicationId" value="{{ app.id }}"/>
    <input type="hidden" id="dtFromPicture" name="dtFromPicture" value="{{ app.dtFromPicture ?? '1' }}" />
    <input type="hidden" id="address" name="address" value="{{ app.address | json_encode }}" />

    <div>
        {% if config.edit %}
        <div class="warning-header">
            <h4>Edytujesz zgłoszenie {% if app.number %}numer {{ app.number }}{% endif %}
                {% if app.added is defined %}powstałe {{ app.added|date('j.m.Y H:i') }}{% endif %}.
            </h4>
            <a class="button inline" href="?cleanup">zacznij od nowa</a>
        </div>
        {% endif %}
        <div class="grid images">
            <div class="imageContainer image-upload contextImageSection button inverse">
                <label>
                    <b>+ Dodaj zdjęcie z widocznym wykroczeniem</b>
                    <input type="file" accept="image/jpeg, image/png, image/heic, .dummy" id="contextImage" multiple
                        title="Zdjęcie przedstawiające kontekst"
                        value="{{ app.contextImage.url ?? '' }}" />

                    <p class="pictureHint">{{ categories[app.category].contextImageHint }}</p>
                    <div class="loader l" style="display: none;"></div>
                    <img id="contextImagePreview" src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
            </div>
            <div class="imageContainer image-upload carImageSection button inverse">
                <label>
                    <b>+ Dodaj zdjęcie z widoczną tablicą rejestracyjną</b>
                    <input type="file" accept="image/jpeg, image/png, image/heic, .dummy" id="carImage" multiple
                        title="Zdjęcie przedstawiające samochód i tablicę rejestracyjną"
                        value="{{ app.carImage.url ?? '' }}" />
                    <p class="pictureHint">{{ categories[app.category].carImageHint }}</p>
                    <div class="loader l" style="display: none;"></div>
                    <img id="carImagePreview" src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
                <div id="recydywa" class="new-app-recydywa">
                    <div class="recydywa-cnt">
                        <span class="recydywa">RECYDYWA:</span>
                        <span class="recydywa-userscnt"></span>
                        <span class="recydywa-appscnt"></span>
                        
                    </div>
                </div>
                <div class="plate-box" style="border: none;"></div>
            </div>
            {% set thirdImage = (app.thirdImage.thumb ?? false) %}
            <div class="imageButton image-upload thirdImageSection"
                {% if thirdImage %}style="display: none"{% endif %}>
                <label class="button inverse">+ Dodaj trzecie zdjęcie (opcjonalnie)
                <input type="file" accept="image/jpeg, image/png, image/heic, .dummy" id="thirdImage"
                        title="Zdjęcie przedstawiające kontekst"
                        value="{{ app.thirdImage.url ?? '' }}" />
                </label>
            </div>
            <div class="imageContainer image-upload thirdImageSection"
                {% if not thirdImage %}style="display: none"{% endif %}>
                <label>
                    <a class="button remove" href="#">X</a>
                    <div class="loader l" style="display: none;"></div>
                    <img id="thirdImagePreview" src="{{ app.thirdImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
            </div>
            <div></div>
            <div>
                <label for="datetime"><span id="dateHint">Data i czas zgłoszenia</span> <a href="#" class="changeDatetime">(zmień datę, jeśli niepoprawna)</a></label>
                <div class="datetime">
                    <input
                        type="datetime-local"
                        id="datetime"
                        name="datetime"
                        value="{{ dt }}"
                        min="{{ dtMin }}"
                        max="{{ dtMax }}"
                        {% if not config.edit %}readonly{% endif %}
                        />
                </div>
            </div>
            <div>
                <label for="plateId" id="plateHint">Podaj numer rejestracyjny</label>
                <div class="plate">
                    <input class="required" type="text" id="plateId" name="plateId"
                        placeholder="(numer rej.)" value="{{ app.carInfo.plateId ?? '' }}"
                        autocomplete="off" />
                    <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}"
                        {% if not app.shouldIncludePlateImage %}style="display: none;"{% endif %}/>
                </div>
            </div>
            <div>
                <label for="lokalizacja" id="addressHint" style="display: inline;" >Podaj adres lub wskaż go na mapie</label>
                <a id="resizeMap" class="ui-button-resizeMap ui-icon-arrowsout"></a>
                <div id="locationPicker" class="locationPickerClass"></div>
                <span id="mapCenter"></span>
            </div>
            <div>
                <div class="combo">
                    <input type="text" maxlength="70" required id="lokalizacja" name="lokalizacja"
                        placeholder="(wskaż lokalizację na mapie)" data-type="geo"
                        value="{{ app.address.address ?? '' }}" />
                </div>
                <div>
                    <div id="smInfo"></div>
                    <div id="smInfoHint"></div>
                </div>
            </div>
        </div>
        <fieldset>
            <label for="comment">Dodaj komentarz</label>
            <textarea type="text" id="comment" name="comment"
                placeholder="(komentarz, np. szczegóły dotyczące lokalizacji, wymagany dla kategorii „Pozostałe”)">{{ app.userComment ?? '' }}</textarea>
        </fieldset>


        <fieldset>
        <legend>Wybierz rodzaj wykroczenia</legend>
        <div class="grid" id="category">
        {% set i = 0 %}
        {% for catId,categoryDef in categories %}
        {% if categoryDef.title %}
            <div>
                <input type="radio" {% if catId == app.category %}checked="checked"{% endif %}
                    name="category" value="{{ catId }}" id="{{ catId }}"
                    data-contextImage-hint="{{ categoryDef.contextImageHint }}"
                    data-carImage-hint="{{ categoryDef.carImageHint }}">
                <label for="{{ catId }}" class="radio no-bullet">
                    <div>
                        <img src="/img/{{ catId }}.jpg?ref">
                        {% if categoryDef.points > 1 %}
                        <span class="points-badge">{{ categoryDef.points }}</span>
                        {% endif %}
                    </div>
                    <div>
                        <p class="category-title">{% if catId == 0 %}<i>{% endif %}{{ categoryDef.title }}{% if catId == 0 %}</i>{% endif %}</p>
                        <p class="category-short">{{ categoryDef.short }}</p>
                        {% if catId != 0 %}
                        <p class="price-list">Mandat {% if categoryDef.mandate > 100 %}~{% endif %}{{ categoryDef.mandate }} zł</p>
                        {% endif %}
                    </div>
                </label>
                <a href="#category-popup-{{ catId }}" data-rel="popup" data-transition="pop" class="category-popup">więcej...</a>
                <dialog data-role="popup" id="category-popup-{{ catId }}">
                    <p>{{ categoryDef.desc|raw }}</p>
                    {% if categoryDef.price %}
                    <p class="price-list">Mandat: {{ categoryDef.price }}</p>
                    {% endif %}
                    <p class="category-law">{{ categoryDef.law }}</p>
                </dialog>
            </div>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
            <p style="clear: both;">Masz wątpliwości którą kategorię wybrać? Przeczytaj
            <a href="/przepisy.html?dialog" close-btn="none" data-transition="pop">nasz poradnik</a>.</p>
        </div>
        </fieldset>

        <fieldset class="grid" id="extensions">
            <legend>Czy pojazd dodatkowo:</legend>
        {% for extId,extensionDef in extensions %}
        {% if not (extensionDef.disabled ?? false) %}
            <input type="checkbox" name="extensions[]"
                value="{{ extId }}" id="ex{{ extId }}"
                {% if app.extensions is defined and extId in app.extensions %}checked{% endif %}>
            <label class="checkbox" for="ex{{ extId }}">
                {{ extensionDef.title|raw }} (mandat: {{ extensionDef.price }})
            </label>
        {% endif %}
        {% endfor %}
        </fieldset>

        <fieldset>
        <legend class="section">Oświadczenia</legend>
{% set witness = true %}
{% if app.statements is not defined or not app.statements.witness %}
    {% set witness = false %}
{% endif %}
        <input type="checkbox" name="witness" id="witness" {% if witness %}checked{% endif %} />
        <label for="witness" class="checkbox">
            {{ app.guessUserSex.bylam|capitalize }} świadkiem momentu parkowania
        </label>
        </fieldset>
    </div> <!-- ui-field-contain -->
</form>
<script src="/js/new-app.js?{{ JS_HASH }}"
    last-location="{{ app.getLatLng() ?? config.lastLocation }}"
    stop-agresji="{{ app.stopAgresji }}"

    {% if app.carInfo is defined and (app.carInfo.vehicleBox is defined) %}
    {% for key,value in app.carInfo.vehicleBox|cast_to_array %}
    data-vehiclebox-{{ key }}="{{ value | raw }}"
    {% endfor %}
    {% endif %}
    data-image-width="{{ app.carImage is defined ? (app.carImage.width ?? 1200) : 1200 }}"
    data-image-height="{{ app.carImage is defined ? (app.carImage.height ?? 1200) : 1200 }}"
    ></script>

{% endblock %}
