{% set leftButton = 'menuBack' %}

{% block rightButtonCustom %}
<a id="form-submit"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-carat-r">Dalej</a>
{% endblock %}

{% extends "base.html.twig" %}
{% block main %}

<form action="/potwierdz.html" id="form" method="post" data-ajax="false">
    <input type="hidden" name="applicationId" id="applicationId" value="{{ app.id }}"/>
    <div>
        {% if config.edit %}
        <div class="ui-corner-all custom-corners edit-warning">
            <div class="ui-bar ui-bar-a">
                <h4>Edycja zgłoszenia</h4>
            </div>
            <div class="ui-body ui-body-a">
                <p>Edytujesz zgłoszenie powstałe {{ app.added|date('Y-m-d H:i') }}.
                Jeśli chcesz zacząć od nowa, <a data-ajax="false" class="cleanup" href="?cleanup">kliknij tutaj</a>.</p>
            </div>
        </div>
        {% endif %}
        <div class="ui-grid-a ui-responsive images images-cropped">
            <div class="ui-block-a imageContainer image-upload contextImageSection">
                <label for="contextImage">
                    Wgraj zdjęcie z widocznym wykroczeniem
                    <div class="loader" style="display: none;"></div>
                    <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
                <input type="file" accept="image/jpeg" id="contextImage"
                    title="Zdjęcie przedstawiające kontekst"
                        value="{{ app.contextImage.url ?? '' }}" />
            </div>
            <div class="ui-block-b imageContainer image-upload carImageSection">
                <label for="carImage">
                    Wgraj zdjęcie z widoczną tablicą rejestracyjną
                    <div class="loader" style="display: none;"></div>
                    <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
                <div id="recydywa"></div>
                <input type="file" accept="image/jpeg" id="carImage"
                    title="Zdjęcie przedstawiające samochód i tablicę rejestracyjną"
                    value="{{ app.carImage.url ?? '' }}" />
            </div>
        </div>

        <label for="plateId" id="plateHint">Podaj numer rejestracyjny</label>
        <div class="plate">
            <input class="required" type="text" id="plateId" name="plateId"
                placeholder="(numer rejestracyjny)" value="{{ app.carInfo.plateId ?? '' }}"
                autocomplete="off" style="text-transform:uppercase" />
            <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}"
                {% if not app.shouldIncludePlateImage %}style="display: none;"{% endif %}/>
        </div>

        <label for="lokalizacja" id="addressHint">Podaj miejsce zgłoszenia</label>
        <div class="combo">
            <input type="text" maxlength="70" required id="lokalizacja" name="lokalizacja"
                placeholder="(zacznij wpisywać adres)" data-inline="true"
                autocomplete="I told you I wanted this off, Google. But you would not listen."
                value="{{ app.address.address ?? '' }}" />
            <a id="geo" data-role="button" data-icon="location" data-iconpos="notext"
                data-mini="true" data-inline="true" data-corners="true" data-shadow="false"
                data-iconshadow="false" data-wrapperels="span" data-theme="b" title="GPS"></a>
        </div>

        <label for="datetime" id="dateHint">Data i czas zgłoszenia</label>
        <div class="datetime">
            <input type="hidden" id="datetime" name="datetime" value="{{ app.date }}" />

            <a href="#" id="dm" class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Dzień wcześniej</a>
            <a href="#" id="dp" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Dzień później</a>
            <span id="date"></span>

            <span id="dtPrecise">około</span>

            <a href="#" id="hm" class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Godzina wcześniej</a>
            <a href="#" id="hp" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Godzina później</a>
            <span id="time"></span>
        </div>

        <input type="hidden" id="dtFromPicture" name="dtFromPicture" value="{{ app.dtFromPicture ?? '1' }}" />

        <input type="hidden" id="street_number" name="street_number" />
        <input type="hidden" id="route" name="street_name" />
        <input type="hidden" id="locality" name="city" value="{{ app.address.city ?? '' }}" />
        <input type="hidden" id="administrative_area_level_1" name="voivodeship" value="{{ app.address.voivodeship ?? '' }}" />
        <input type="hidden" id="country" name="country" />
        <input type="hidden" id="latlng" name="latlng" value="{{ app.address.latlng ?? '' }}" />

        <label for="comment">Podaj komentarz</label>
        <textarea type="text" id="comment" name="comment"
            placeholder="(opcjonalny komentarz, np. szczegóły dotyczące lokalizacji)">{{ app.userComment ?? '' }}</textarea>

        <label for="category">Wybierz rodzaj naruszenia</label>

        <div class="ui-grid-a ui-responsive" id="category">
        {% set i = 0 %}
        {% for catId,catName in categories %}
        {% if catName[0] %}
            <div class="ui-block-{{ categoriesMatrix[i % 2] }}"
                title="{{ catName[2]|striptags ~ "\n\n" ~ catName[3] }}{% if catName[4] %}{{ "\n\nTaryfikator: " ~ catName[4] }}{% endif %}">
                <input type="radio" {% if catId == app.category %}checked="checked"{% endif %}
                    name="category" value="{{ catId }}" id="{{ catId }}">
                <label for="{{ catId }}">
                    <img src="img/{{ catId }}.jpg">
                    <p>{{ catName[0]|raw }}
                        {% if catName[4] %}<span class="price-list">Mandat: {{ catName[4] }}</span>{% endif %}
                    </p>
                </label>
            </div>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
            <p>Masz wątpliwości którą kategorię wybrać? Przeczytaj <a href="przepisy.html?dialog" close-btn="none" data-transition="pop">nasz poradnik</a>.</p>
        </div>
        <label class="section">Oświadczenie</label>

{% set witness = true %}
{% if app.statements is not defined or not app.statements.witness %}
    {% set witness = false %}
{% endif %}
        <label for="witness">
            <span id="witnessY" {% if witness %}style="display: none;"{% endif %}>
                <i>Nie {{ app.guessUserSex.bylam }} świadkiem momentu parkowania.</i></span>
            <span id="witnessN" {% if not witness %}style="display: none;"{% endif %}>
                <i>{{ app.guessUserSex.bylam|capitalize }} świadkiem parkowania.</i></span>
        </label>
        <input data-mini="true" type="checkbox" data-role="flipswitch" name="witness" id="witness"
            {% if not witness %}
                checked
            {% endif %}
            data-on-text="" data-off-text="">
    </div> <!-- ui-field-contain -->
</form>

<script src="js/script-%JS_HASH%.js"></script>

<script src="js/load-image-%JS_HASH%.js"></script>

<script src="js/load-image-scale-%JS_HASH%.js"></script>
<script src="js/load-image-meta-%JS_HASH%.js"></script>
<script src="js/load-image-orientation-%JS_HASH%.js"></script>
<script src="js/load-image-exif-%JS_HASH%.js"></script>
<script src="js/load-image-exif-map-%JS_HASH%.js"></script>

<script src="js/luxon.min-%JS_HASH%.js"></script>

{% endblock %}