{% set leftButton = 'menuBack' %}
{% set leftButtonIcon = 'ui-icon-edit' %}

{% set title = 'Potwierdź' %}
{% set mainClass = 'confirm-application' %}
{% set sm = app.guessSMData() %}
{% set forcedPolice = app.stopAgresji and not user.stopAgresji %}
{% set smName = sm.getName %}
{% if forcedPolice %}
{% set smName = '<b class="lightWarning">' ~ sm.getName ~ '</b>' %}
{% endif %}

{% block rightButtonCustom %}
    {% if not autoSend %}
    <a onclick="confirmApplication()"
        class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all
        ui-btn-inline ui-btn-icon-left ui-icon-check confirm-save-button">Zapisz!</a>
    {% endif %}
{% endblock %}

{% extends "base.html.twig" %}

{% block main %}

{% if autoSend %}
<h2>Sprawdź przed wysłaniem</h2>
<p>
    Twoje zgłoszenie zostanie za chwilę wysłane do <b>{{ smName|raw }}</b>.
</p>
{% else %}
<h2>Sprawdź zgłoszenie</h2>
<p>
    Sprawdź dane przed zapisaniem zgłoszenia.
    {% if not sm.unknown %}Na tym etapie nic nie zostanie wysłane do <b>{{ smName|raw }}</b>.{% endif %}
</p>
{% endif %}

{% if forcedPolice %}
<p><b class="forcedPoliceInfo lightWarning">
        Straż Miejska nie ma uprawnień do karania za jazdę po chodniku. Uprzejmie
        zmieniliśmy adresata na {{ sm.getShortName }}.
    </b></p>
{% endif %}

<div class="application">
    <div class="ui-grid-a ui-responsive images images-cropped">
        <div class="ui-block-a">
            <ul class="application-details-list" style="columns: 1">
                <li class="description"><b>{{ app.getCategory.formal }}</b> {{ app.getExtensionsText }} {% if app.userComment %}{{ app.getAHrefedComment | raw }}{% endif %}</li>
                <li class="witness">
                    {% if app.statements is not defined or not app.statements.witness %}
                    <b>Nie {{ app.guessUserSex.bylas }}</b> świadkiem parkowania.
                    {% else %}
                    <b>{{ app.guessUserSex.bylas|capitalize }} świadkiem</b> parkowania.</p>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="ui-block-b imageContainer">
            <span class="floating-box">{{ app.getShortAddress }}</span>
            {% if app.address.lat is defined %}
            <div class="loader"></div>
            <img class="mapImage" src="{{ app.getMapImage }}?v={{ app.getRevision }}">
            {% endif %}
        </div>
    </div>

    <div class="ui-grid-a ui-responsive images">
        <div class="ui-block-a imageContainer">
            <span class="floating-box">{{ app.getDate("k'<sup>'mm'</sup>' eeee, d MMMM YYYY")|raw }}</span>
            <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}" />
        </div>
        <div class="ui-block-b imageContainer">
            <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}" id="carImage"/>
            {% if vehicleBox and app.shouldIncludePlateImage %}

            {% set imageWidth = app.carImage.width ?? 1200 %}
            {% set imageHeight = app.carImage.height ?? 1200 %}
            {% set left = 100 * vehicleBox.x / imageWidth %}
            {% set width = 100 * vehicleBox.width / imageWidth %}

            {% set top = 100 * vehicleBox.y / imageHeight %}
            {% set height = 100 * vehicleBox.height / imageHeight %}

            {% set style = 'top: ' ~ top ~ '%; left: ' ~ left ~ '%; width: ' ~ width ~ '%; height: ' ~ height ~ '%;' %}
            <div class="plate-box" style="{{ style }}">
            {% else %}
            <div class="plate-box" style="border: none;">
            {% endif %}
                <span class="plate-id">{{ app.carInfo.plateId }}</span>
            </div>
        </div>
    </div>

    <div class="sender-data">
        <p>Twoje dane:</p>
        <cite>
        <b>{{ app.user.name }}</b><br />
        {{ app.user.email }}<br />
        {{ app.user.address }}<br />
        {{ app.user.msisdn }}<br />
        </cite>
    </div>
</div>
{% if autoSend %}
<a onclick="confirmApplication()"
    class="ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all
    ui-btn-icon-left ui-icon-mail cta ui-disabled confirm-send-button">Wyślij do {{ sm.getShortName }}!</a>
{% endif %}

<form action="/dziekujemy.html?id={{ app.id }}" id="form" method="post" data-ajax="true">
    <input type="hidden" id="applicationId" name="applicationId" value="{{ app.id }}"/>
</form>
{% endblock %}
