{% set leftButton = 'menu' %}

{% block rightButtonCustom %}
<a id="register-submit" class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn
    ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-action">Potwierdź</a>
{% endblock %}

{% extends "base.html.twig" %}
{% block main %}

<p>Aby dokonać zgłoszenia musisz podać swoje imię, nazwisko, adres email oraz adres korespondencyjny.
    Jest to minimalny zestaw informacji jakich wymaga SM do przyjęcia zgłoszenia.</p>
<form action="/register-ok.html?next={{ config.signInSuccessUrl ?? 'start.html' }}" id="register-form" method="post" data-ajax="false">
    <label for="name">Podaj imię i nazwisko, które posłuży SM do identyfikacji autora zgłoszenia</label>
    <input type="text" required maxlength="30" id="name" name="name"
        placeholder="(twoje imię i nazwisko)"
        data-inline="true" value="{{ user.data.name }}">
    <label for="email">Email został pobrany automatycznie w trakcie logowania</label>
    <input disabled type="email" required maxlength="30" id="email" name="email"
        placeholder="(twój email)"
        data-inline="true" value="{{ user.data.email }}">
    <label for="name">Podaj (opcjonalnie) numer kontaktowy</label>
    <input type="tel" maxlength="11" id="msisdn" name="msisdn"
        placeholder="(twój numer telefonu [opcjonalnie])"
        data-inline="true" value="{{ user.data.msisdn ?? '' }}">
    <label for="name">Podaj adres zamieszkania (wymagany)</label>
    <input type="text" maxlength="70" required id="address" name="address"
        placeholder="(twój adres korespondencyjny [wymagany])"
        autocomplete="off"
        data-inline="true" value="{{ user.data.address ?? '' }}">
    <label for="exposeData">Chcę dołączać do zgłoszenia prośbę o niezamieszczanie
        w protokole danych dotyczących mojego miejsca zamieszkania:</label>
    <input type="checkbox" data-role="flipswitch" name="exposeData" id="exposeData"
        {% if not user.canExposeData %}
            checked
        {% endif %}
        data-on-text="tak" data-off-text="nie" data-wrapper-class="custom-size-flipswitch">

</form>

<script src="js/script-%JS_HASH%.js"></script>
{% if config.isRegistered == false %}
<script>
$(document).ajaxComplete(function(e, xhr, settings){
    target = e.target.baseURI.replace(/.*uprzejmiedonosze.net./, '');
    if(!target.startsWith('register.html')){
        window.location.replace('register.html?next=' + target);
    }
});
</script>
{% endif %}
{% endblock %}