{% set leftButton = 'menu' %}

{% block rightButtonCustom %}
<a id="register-submit" class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn
    ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-action">Potwierdź</a>
{% endblock %}

{% set title = user.isRegistered ? 'Zaktualizuj konto' : 'Zarejestruj się' %}

{% extends "base.html.twig" %}
{% block main %}

<form action="/register-ok.html?next={{ signInSuccessUrl ?? 'start.html' }}" id="register-form" method="post" data-ajax="false">
    <h3>Dane konta</h3>
    <p>Aby dokonać zgłoszenia musisz podać swoje imię, nazwisko, adres e-mail oraz adres korespondencyjny.
        Jest to minimalny zestaw informacji jakich wymaga SM do przyjęcia zgłoszenia.</p>

    <label for="name">Imię i nazwisko, które posłużą SM do identyfikacji autora zgłoszenia</label>
    <input type="text" required maxlength="30" id="name" name="name"
        placeholder="(twoje imię i nazwisko)"
        data-inline="true" value="{{ user.data.name }}" />

    <label for="email">E-mail został pobrany automatycznie w trakcie logowania</label>
    <input disabled type="email" required maxlength="30" id="email" name="email"
        placeholder="(twój email)"
        data-inline="true" value="{{ user.data.email }}" />

    <label for="name">Adres zamieszkania wraz z numerem lokalu – SM nie przyjmie bez tego zgłoszenia</label>
    <input type="text" maxlength="70" required id="address" name="address"
        placeholder="Ulica 10, Miasto"
        autocomplete="off"
        data-inline="true" value="{{ user.data.address ?? '' }}" />

    <label for="name">Numer kontaktowy (opcjonalny, ale ułatwi SM kontakt z Tobą)</label>
    <input type="tel" maxlength="12" id="msisdn" name="msisdn"
        placeholder="666 666 666"
        data-inline="true" value="{{ user.data.msisdn ?? '' }}" />

    <h3>Ustawienia</h3>
    <fieldset data-role="controlgroup">
        <legend for="exposeData">Czy chcesz dołączać do zgłoszenia prośbę o niezamieszczanie
        w protokole danych dotyczących swojego miejsca zamieszkania?</legend>
        <input type="radio" name="exposeData" id="exposeData-N" value="N" {% if not user.canExposeData %}checked="checked"{% endif %}>
        <label for="exposeData-N">Tak, chcę utrudnić sprawcy wykroczenia poznanie mojego adresu (domyślnie)</label>

        <input type="radio" name="exposeData" id="exposeData-Y" value="Y" {% if user.canExposeData %}checked="checked"{% endif %}>
        <label for="exposeData-Y">Nie, mój adres i tak łatwo znaleźć w sieci</label>
    </fieldset>

    {% if user.isRegistered %}
    <fieldset data-role="controlgroup">
        <legend for="stopAgresji">Chcę wysyłać swoje zgłoszenia</legend>
        <input type="radio" name="stopAgresji" id="stopAgresji-SM" value="SM" {% if not user.stopAgresji %}checked="checked"{% endif %}>
        <label for="stopAgresji-SM">do Straży Miejskiej/Gminnej właściwej dla miejscowości zgłoszenia (domyślnie)</label>

        <input type="radio" name="stopAgresji" id="stopAgresji-SA" value="SA" {% if user.stopAgresji %}checked="checked"{% endif %}>
        <label for="stopAgresji-SA">na komendę Policji właściwą dla województwa zgłoszenia</label>
    </fieldset>

    {% if not user.autoSend() %}
    <fieldset data-role="controlgroup">
        <legend for="autoSend">Chcę wysyłać swoje zgłoszenia</legend>
        <input type="radio" name="autoSend" id="autoSend-Y" value="Y" {% if user.autoSend %}checked="checked"{% endif %}>
        <label for="autoSend-Y">automatycznie, po zapisaniu każdego zgłoszenia (domyślnie)</label>

        <input disabled type="radio" name="autoSend" id="autoSend-N" value="N" {% if not user.autoSend %}checked="checked"{% endif %}>
        <label for="autoSend-N">ręcznie, w większych paczkach</label>
    </fieldset>
    {% endif %}
    <fieldset data-role="controlgroup">
        <legend for="myAppsSize">Liczba zgłoszeń ładowana na start w "Moje zgłoszenia"</legend>
        <input type="radio" name="myAppsSize" id="myAppsSize-200" value="200" {% if user.myAppsSize == 200 %}checked="checked"{% endif %}>
        <label for="myAppsSize-200">200 (domyślnie)</label>

        <input type="radio" name="myAppsSize" id="myAppsSize-50" value="50" {% if user.myAppsSize == 50 %}checked="checked"{% endif %}>
        <label for="myAppsSize-50">50, dobre na starszych telefonach i słabej sieci</label>
    </fieldset>
    {% endif %}
</form>

{% if not user.isRegistered %}
<script>
$(document).ajaxComplete(function(e, xhr, settings){
    target = e.target.baseURI.replace(/.*uprzejmiedonosze.net./, '');
    if(!target.startsWith('register.html')){
        window.location.replace('register.html?next=' + target);
    }
});
</script>
{% endif %}
{% endblock %}