{% set leftButton = general.isLoggedIn ? 'menuBack': 'menuMain' %}
{% set rightButton = general.hasApps ? 'menuApplications': 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}
    <form>
        <input data-type="search" id="searchForCollapsibleSet">
    </form>
    {% for email,user in storage.getUsers %}
        <h3 class="ui-bar ui-bar-a ui-corner-all">{{ user.number }} {{ user.data.name }} ({{ user.data.email }})</h3>
        <p> Założony: {{ user.added }}
            Usunięty: {{ user.deleted }}</p>

        <div data-role="collapsibleset" data-filter="true" data-inset="true"
            id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
            {% for id in user.getApplicationIds %}
                {% set app = storage.getApplication(id) %}
                {% include('_application.html.twig') %}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}