{% if head.dialog %}
    {% set leftButton = 'menuBack' %}
    {% set rightButton = '' %}
{% else %}
    {% set leftButton = 'menu' %}
    {% set rightButton = 'menuStart' %}
{% endif %}

{% import "_macros.html.twig" as macros %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Najczęściej zadawane pytania</h2>

<h3>Pytania techniczne</h3>
<h4>Gdzie mogę pobrać aplikację?</h4>
<p>Nie możesz, bo Uprzejmie Donoszę nie jest aplikacją. Jest mobilną stroną WWW,
która jednak dość skutecznie udaje aplikację (szczególnie na telefonach z Androidem).
Spróbuj zrobić sobie skrót na pulpicie, i będziesz miał Uprzejmie Donoszę dostępne
pod własną ikonką, uruchamiane jako osobny program (a nie zakładka w przeglądarce),
oraz oczywiście bez paska adresu, który niepotrzebnie zajmuje miejsce.</p>

<h4>Co zrobić, jeśli coś nie działa?</h4>
<p>Napisz do mnie <a data-ajax="false" target="_blank" href="https://fb.com/uprzejmiedonosze.net">na FB</a>.
Idealnie, jeśli będziesz mieć zrzut ekranu prezentujący problem, oraz krótki opis jak
udało się do tej sytuacji doprowadzić.</p>


<h3>Pytania związane ze współpracą ze Strażą Miejską</h3>
<p>Straż Miejska w różnych miastach działa na podstawie tych samych przepisów, ale
interpretuje je różnie. Widoczne jest to szczególnie mocno w domyślnym podejściu do zgłoszenia
przysłanego mailem.</p>
<p>Ta sekcja ma być źródłem informacji o specyfice poszczególnych
Straży Miejskich, wraz ze wskazówkami "jak rozmawiać ze swoim komendantem".</p>
<p>Jeśli widzisz jakieś nieprawidłowości, brakuje twojego miasta,
lub twoje doświadczenia są inne niż opisane poniżej, napisz do nas
<a data-ajax="false" target="_blank" href="https://fb.com/uprzejmiedonosze.net">na FB</a>.</p>

<h4>Czy SM zdarza się zignorować zgłoszenia?</h4>
<p>Moje doświadczenia, poparte informacjami od użytkowników wskazuje na to,
że raczej nie. SM może zignorować anonimy. Ale zgłoszenie przygotowane przez
Uprzejmie Donoszę ma komplet informacji, w tym kluczowe dane kontaktowe zgłaszającego.</p>
<p>Natomiast często nie informują o przyjęciu zgłoszenia oraz rozpoczęciu sprawy. Nie 
krępujcie się pytać i domagać informacji zwrotnej. W korespondencji z SM zawsze warto podawać
numer rejestracyjny, datę i adres wykroczenia.</p>

<h4>SM w moim mieście wymaga podania marki pojazdu. Co robić?</h4>
<p>Faktycznie, część funkcjonariuszy tego wymaga (preferencje potrafią być 
rozbieżne nawet w ramach jednej komendy). Z informacji, które pozyskałem w 
trakcie przesłuchań wynika, że podanie marki pojazdu służy dodatkowej
weryfikacji, czy wskazany numer rejestracyjny jest prawidłowy. I o ile 
byłoby to zrozumiałe w przypadku zgłoszenia bez zdjęcia, o tyle w przypadku 
Uprzejmie Donoszę uważam ten wymóg za fanaberię SM.</p>

<p>Straż Miejska mając dostęp do systemu CEPIK (Centralna Ewidencja Pojazdów
i Kierowców) ma możliwość sprawdzenia tego co kryje się pod wskazanym numerem
rejestracyjnym, oraz porównać, czy marka i kolor z systemu zgadza się ze zdjęciem.</p>

{{ macros.faq('Warszawa', 'warszawa') }}
    <p>Aktualizacja 30.03.2019.</p> {# informacja od SZN #}
    {{ macros.q(1) }}
    <p>Domyślnie nie. Osoby składające zawiadomienie o wykroczeniu są wzywane na świadka dopiero
    w sytuacji, gdy ustalony sprawca zaneguje popełnienie wykroczenia lub
    zebrany materiał dowodowy budzi wątpliwości.</p>
    <p>Powyższa procedura dotyczy wszystkich oddziałów terenowych SM.</p>

    {{ macros.q(2) }}
    <p>Tak. SM wysyła maile z "zawiadomieniem o przyjęciu sprawy". W mailu można znaleźć datę
    i godzinę zgłoszenia, po których można zidentyfikować odpowiednie zgłoszenie w Uprzejmie 
    Donoszę.</p>

    {{ macros.q(3) }}
    <p>Jeśli znamy numer sprawy SM, używajmy go w korespondencji. Jeśli go nie znamy
    (np. SM nie wysłała nam potwierdzenia z numerem), najlepiej podawać numer 
    rejestracyjny pojazdu oraz datę wykroczenia.</p>

    {{ macros.q(4) }}
    <p>Nie ma znaczenia. Zapewne wygodnie wysłać emailem.</p>
</div>

{{ macros.faq('Szczecin', 'szczecin') }}
    <p>Aktualizacja 27.03.2019.</p> {# informacja od SZN #}
    {{ macros.q(1) }}
    <p>Niestety tak. SM wzywa automatycznie do wszystkich zgłoszeń. Musisz 
    liczyć się z 3-6 minutami na zgłoszenie do odsiedzenia w SM. Warto
    wysyłać paczki po ~10 sztuk, co pozwala potem przerobić całą paczkę 
    podczas jednej, kilkudziesięciominutowej wizyty.</p>

    {{ macros.q(2) }}
    <p>Tak. SM wysyła wezwanie na przesłuchanie świadka, i podaje numer sprawy.
    Niestety nie sposób powiązać tego numeru sprawy ze swoim zgłoszeniem. Jeśli 
    wysłaliśmy kilka paczek zgłoszeń, to nie będzie nam łatwo zorientować się 
    dla których dostaliśmy wezwanie. Niemniej z doświadczenia autora wynika,
    że 100% zgłoszeń jest przyjmowanych i przetwarzanych przez SM.</p>

    {{ macros.q(3) }}
    <p>(niestety) Najprościej jest pytać o to w trakcie wizyty w SM, podając
    numer rejestracyjny.</p>

    {{ macros.q(4) }}
    <p>Nie ma znaczenia. SM i tak i tak drukuje całość i wzywa na przesłuchanie.
    Zapewne prościej wysłać za pomocą emaila.</p>
</div>

{{ macros.faq('Gdańsk', 'gdansk') }}
    <p>Aktualizacja 22.03.2019.</p> {# informacja od Miłosz Czarniakowski na FB #}
    {{ macros.q(1) }}
    <p>Domyślnie nie. Osoby składające zawiadomienie o wykroczeniu są wzywane
    na świadka dopiero w sytuacji, gdy ustalony sprawca zaneguje popełnienie
    wykroczenia lub zebrany materiał dowodowy budzi wątpliwości.</p>
    <p>Specyfiką SM w Gdańsku jest konieczność podawania marki pojazdu w zgłoszeniu.
    Nie wynika to z żadnych przepisów, i mam nadzieję, że ten wymóg proceduralny
    zostanie zniesiony. Jednak jeśli chcesz obniżyć prawdopodobieństwo wezwania
    na przesłuchanie, to możesz umieścić model pojazdu w komentarzu.</p>

    {{ macros.q(3) }}
    <p>Z przekazanych na informacji wynika, że o statusie będą informować
    (sic) listem poleconym.</p>

    {{ macros.q(4) }}
    <p>Preferowaną metodą jest kontakt mailowy.</p>
</div>

{{ macros.faq('Gdynia', 'gdynia') }}
    <p>Aktualizacja 21.02.2019.</p> {# informacja od Radosław Orłowski na FB #}
    {{ macros.q(1) }}
    <p>SM w Gdyni domyślnie nie wzywa na świadka.</p>

    {{ macros.q(2) }}
    <p>Różnie. Na część zgłoszeń użytkownicy otrzymują potwierdzenia z nadanym numerem
    sprawy. Ale niestety nie działa to w 100%.</p>

    {{ macros.q(4) }}
    <p>Nie ma to znaczenia.</p>
</div>

{{ macros.faq('Łódź', 'lodz') }}
    <p>Aktualizacja 22.02.2019.</p> {# informacja od Jacek Rutkowski na FB #}
    <p>Informacje pozyskane na przykładzie Oddziały Dzielnicowego Łódź - Bałuty.
    Procedury SM różnią się znacznie między miastami, ale wewnątrz jednego
    ośrodka zazwyczaj są spójne. Przyjmujemy na tym etapie, że jest to stanowisko
    SM Łódź.</p>

    {{ macros.q(1) }}
    <p>Wg informacji pozyskanych w SM, w przypadku braku naocznego potwierdzenia
    wykroczenia przez strażników, <i>konieczne jest złożenie oświadczenie ustnie
    lub przesłanie go na piśmie</i>.</p>
    <p>Zawiadomienie takie można złożyć w siedzibie SM przy ul. Mokrej 10 w Łodzi.</p>

    {{ macros.q(2) }}
    <p>Tak. Zostało to empirycznie potwierdzone.</p>
</div>

{{ macros.faq('Kraków', 'krakow') }}
    <p>Aktualizacja 26.02.2019.</p> {# informacja od Katarzyna Arabska na FB z 26.02.2019 #}
    {{ macros.q(1) }}
    <p>Niestety tak. SM w Krakowie domyślnie wzywa na świadka.</p>
</div>


{% endblock %}