{% set leftButton = 'menuBack' %}

{% block rightButtonCustom %}
<a id="form-submit"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-carat-r">Dalej</a>
{% endblock %}

{% extends "base.html.twig" %}
{% block main %}

<form action="/potwierdz.html" id="form" method="post" data-ajax="false">
    <input type="hidden" name="applicationId" id="applicationId" value="{{ app.id }}"/>
    <div>
        {% if config.edit %}
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a edit-warning">
                <h3>Edycja zgłoszenia</h3>
            </div>
            <div class="ui-body ui-body-a">
                <p>Edytujesz zgłoszenie powstałe {{ app.added|date('Y-m-d H:i') }}.
                Jeśli chcesz zacząć od nowe, kliknij <a data-ajax="false" href="?cleanup">tutaj</a>.</p>
            </div>
        </div>
        {% endif %}
        <div class="ui-grid-a ui-responsive" id="pics">
            <div class="ui-block-a">
                <div class="image-upload contextImageSection">
                    <label for="contextImage">
                        Wgraj zdjęcie z widocznym wykroczeniem
                        <div class="loader"></div>
                        <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}"/>
                    </label>
                    <input type="file" accept="image/jpeg" id="contextImage"
                        title="Zdjęcie przedstawiające kontekst"
                        value="{{ app.contextImage.url ?? '' }}" />
                </div>
            </div>
            <div class="ui-block-b">
                <div class="image-upload carImageSection">
                    <label for="carImage">
                        Wgraj zdjęcie z widoczną tablicą rejestracyjną
                        <div class="loader"></div>
                        <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}"/>
                    </label>
                    <input type="file" accept="image/jpeg" id="carImage"
                        title="Zdjęcie przedstawiające samochód i tablicę rejestracyjną"
                        value="{{ app.carImage.url ?? '' }}" />
                </div>
            </div>
        </div>

        <label for="plateId" id="plateHint">Podaj numer rejestracyjny</label>
        <div class="ui-grid-a ui-responsive">
            <div class="ui-block-a">
                <input class="required" type="text" id="plateId" name="plateId"
                    placeholder="(numer rejestracyjny bez spacji)" value="{{ app.carInfo.plateId ?? '' }}"
                    autocomplete="off" style="text-transform:uppercase" />
            </div>
            <div class="ui-block-b">
                <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}"
                    {% if not app.shouldIncludePlateImage %}style="display: none;"{% endif %}/>
                <span id="recydywa"></span>
            </div>
        </div>

        <input type="hidden" id="datetime" name="datetime" value="{{ app.date }}" />

        <label for="lokalizacja" id="addressHint">Podaj miejsce zgłoszenia</label>
        <div class="combo">
            <input type="text" maxlength="70" required id="lokalizacja" name="lokalizacja"
                placeholder="(zacznij wpisywać adres)" data-inline="true"
                autocomplete="I told you I wanted this off, Google. But you would not listen."
                value="{{ app.address.address ?? '' }}" />
            <a id="geo" data-role="button" data-icon="location" data-iconpos="notext"
                data-mini="true" data-inline="true" data-corners="true" data-shadow="false"
                data-iconshadow="false" data-wrapperels="span" data-theme="b" title="GPS"></a>
        </div>

        <input type="hidden" id="street_number" name="street_number" />
        <input type="hidden" id="route" name="street_name" />
        <input type="hidden" id="locality" name="city" value="{{ app.address.city ?? '' }}" />
        <input type="hidden" id="administrative_area_level_1" name="voivodeship" value="{{ app.address.voivodeship ?? '' }}" />
        <input type="hidden" id="country" name="country" />
        <input type="hidden" id="latlng" name="latlng" value="{{ app.address.latlng ?? '' }}" />

        <label for="comment">Podaj komentarz</label>
        <textarea type="text" id="comment" name="comment"
            placeholder="(opcjonalny komentarz, np. szczegóły dotyczące lokalizacji)">{{ app.userComment ?? '' }}</textarea>

        <label for="category">Podaj rodzaj naruszenia</label>

        <div class="ui-grid-a ui-responsive" id="category">
        {% set i = 0 %}
        {% for catId,catName in categories %}
        {% if catName[0] %}
            <div class="ui-block-{{ categoriesMatrix[i % 2] }}" title="{{ catName[2]|striptags }}">
                <input type="radio" {% if catId == app.category %}checked="checked"{% endif %}
                    name="category" value="{{ catId }}" id="{{ catId }}">
                <label for="{{ catId }}">
                    <img src="img/{{ catId }}.jpg">
                    <p>{{ catName[0]|raw }}</p>
                </label>
            </div>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
            <p>Masz wątpliwości którą kategorię wybrać? Przeczytaj <a href="przepisy.html?dialog" close-btn="none" data-transition="pop">nasz poradnik</a>.</p>
        </div>
    </div> <!-- ui-field-contain -->
</form>

<script src="js/script-%JS_HASH%.js"></script>

<script src="js/load-image-%JS_HASH%.js"></script>

<script src="js/load-image-scale-%JS_HASH%.js"></script>
<script src="js/load-image-meta-%JS_HASH%.js"></script>
<script src="js/load-image-orientation-%JS_HASH%.js"></script>
<script src="js/load-image-exif-%JS_HASH%.js"></script>
<script src="js/load-image-exif-map-%JS_HASH%.js"></script>

{% endblock %}