{% set leftButton = 'menu' %}

{% block rightButtonCustom %}
<a id="register-submit" class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn
    ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-action">Potwierdź</a>
{% endblock %}

{% extends "base.html.twig" %}
{% block main %}

<p>Aby dokonać zgłoszenia musisz podać swoje imię, nazwisko, adres email oraz adres korespondencyjny.
    Jest to minimalny zestaw informacji jakich wymaga SM do przyjęcia zgłoszenia.</p>
<form action="/register-ok.html?next={{ config.signInSuccessUrl ?? 'start.html' }}" id="register-form" method="post" data-ajax="false">
    <label for="name" class="section">Twoje dane</label>
    <input type="text" required maxlength="30" id="name" name="name"
        placeholder="Twoje imię i nazwisko"
        data-inline="true" value="{{ user.data.name }}">
    <input disabled type="email" required maxlength="30" id="email" name="email"
        placeholder="Twój email"
        data-inline="true" value="{{ user.data.email }}">
    <input type="tel" maxlength="11" id="msisdn" name="msisdn"
        placeholder="Twój numer telefonu (opcjonalnie)"
        data-inline="true" value="{{ user.data.msisdn ?? '' }}">
    {#<input type="text" maxlength="11" id="idnumber" name="idnumber"
        placeholder="Twój numer dowodu osobistego (opcjonalnie)"
        style="text-transform:uppercase"
        data-inline="true" value="{{ user.data.idnumber ?? '' }}"> #}
    <input type="text" maxlength="70" required id="address" name="address"
        placeholder="Adres korespondencyjny"
        autocomplete="off"
        data-inline="true" value="{{ user.data.address ?? '' }}">
</form>

<script src="js/script-%JS_HASH%.js"></script>
{% if config.isRegistered == false %}
<script>
$(document).ajaxComplete(function(e, xhr, settings){
    target = e.target.baseURI.replace(/.*uprzejmiedonosze.net./, '');
    if(!target.startsWith('register.html')){
        window.location.replace('register.html?next=' + target);
    }
});
</script>
{% endif %}
{% endblock %}