{% set leftButton = 'menuBack' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Pobierz paczkę zgłoszeń do wysyłki do SM</h2>
<p>Na tej stronie możesz pobrać gotową paczkę zgłoszeń do wysyłki do Straży Miejskiej.

{% if apps|length == 0 %}
    W tej chwili nie masz ani jednego zgłoszenia o statusie <i>Nowe</i>, które pozwoliłoby
    wygenerować paczkę zgłoszeń dla Ciebie. Stwórz <a href="start.html">nowe zgłoszenie</a>, lub 
    wróć na <a href="moje-zgloszenia.html">listę swoich zgłoszeń</a> i ustaw poprawnie statusy.</p>
{% else %}
    Paczka ta zostanie przygotowana dla zgłoszeń w statusie <i>Nowe</i>.
    Jeśli poniższa lista jest nieprawidłowa (zbyt wiele, lub zbyt mało zgłoszeń),
    wróć na <a href="moje-zgloszenia.html">listę swoich zgłoszeń</a> i ustaw
    prawidłowo statusy.</p>
{% if cities|length > 1 %}
    <p><b>Poniższa lista zawiera dane z kilku miast!</b> Super, że wykonujesz zgłoszenia
    w kilku miastach, ale niestety Uprzejmie Donoszę nie jest jeszcze na tyle inteligentne,
    żeby podzielić zgłoszenia na osobne paczki. Przycisk umożliwiający pobranie paczki zgłoszeń
    jest dostępny tylko wtedy, gdy wszystkie zgłoszenia poniżej pochodzą z jednego miasta.
    </p>
{% else %}

    {% if apps|length == 1 %}
        {% set zgloszen = 'znajduje się jedno zgłoszenie' %}
    {% elseif apps|length < 5 %}
        {% set zgloszen = 'znajdują się ' ~ apps|length ~ ' zgłoszenia' %}
    {% else %}
        {% set zgloszen = 'znajduje się ' ~ apps|length ~ ' zgłoszeń' %}
    {% endif %}

{% set emailBody = 'Dzień dobry,

W załączeniu ' ~ zgloszen ~ ' nieprawidłowego parkowania. Wszystkie przypadki albo  wpływały na bezpieczeństwo pieszych, albo wiązały się z niszczeniem mienia.

Pozdrawiam,

' ~ user.data.name %}

{% set emailSubject = 'Zgłoszenie wykroczeń związanych z parkowaniem' %}

    <p>
        <a href="sm-all-data.pdf?readyApps" download="true" data-ajax="false"
            class="ui-btn ui-corner-all ui-btn-inline try">Pobierz paczkę {{ apps|length }} zgloszeń</a>
        <a href="mailto:{{ cities | first[1] }}?subject={{ emailSubject|escape('url') }}&body={{ emailBody|escape('url') }}"
            data-ajax="false" class="ui-btn ui-corner-all ui-btn-inline try">Przygotuj email do SM {{ cities | first[2] }}</a>
    </p>
{% endif %}

    <div data-role="collapsibleset" data-mini="true" data-inset="true">
        {% for app in apps %}
            {% include('_application.html.twig') %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}