{% set leftButton = 'menuBack' %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Pobierz paczkę zgłoszeń do wysyłki do SM</h2>
<p>Na tej stronie możesz pobrać gotową paczkę zgłoszeń do wysyłki do Straży Miejskiej.

{% if apps|length == 0 %}
    W tej chwili nie masz ani jednego zgłoszenia o statusie <i>Nowe</i>, które pozwoliłoby
    wygenerować paczkę zgłoszeń dla Ciebie. Stwórz <a href="start.html">nowe zgłoszenie</a>, lub 
    wróć na <a href="moje-zgloszenia.html">listę swoich zgłoszeń</a> i ustaw poprawnie statusy.</p>
{% else %}
    Paczka ta zostanie przygotowana dla zgłoszeń w statusie <i>Nowe</i>.
    Jeśli poniższa lista jest nieprawidłowa (zbyt wiele, lub zbyt mało zgłoszeń),
    wróć na <a href="moje-zgloszenia.html">listę swoich zgłoszeń</a> i ustaw
    prawidłowo statusy.</p>
{% if cities|length > 1 %}
    <p><b>Poniższa lista zawiera dane z kilku miast!</b> Super, że wykonujesz zgłoszenia
    w kilku miastach, ale niestety Uprzejmie Donoszę nie jest jeszcze na tyle inteligentne,
    żeby podzielić zgłoszenia na osobne paczki. Przycisk umożliwiający pobranie paczki zgłoszeń
    jest dostępny tylko wtedy, gdy wszystkie zgłoszenia poniżej pochodzą z jednego miasta.
    </p>
{% else %}

    {% if apps|length == 1 %}
        {% set zgloszen = 'znajduje się jedno zgłoszenie' %}
    {% elseif apps|length < 5 %}
        {% set zgloszen = 'znajdują się ' ~ apps|length ~ ' zgłoszenia' %}
    {% else %}
        {% set zgloszen = 'znajduje się ' ~ apps|length ~ ' zgłoszeń' %}
    {% endif %}

{% set emailBody = 'Dzień dobry,

W załączeniu ' ~ zgloszen ~ ' nieprawidłowego parkowania. Wszystkie przypadki albo  wpływały na bezpieczeństwo pieszych, albo wiązały się z niszczeniem mienia.

Pozdrawiam,

' ~ user.data.name %}

{% set emailSubject = 'Zgłoszenie wykroczeń związanych z parkowaniem' %}

    <p>Najpierw pobierz paczkę zgłoszeń, następnie wygeneruj wiadomość do SM, załącznik pobrany
    wcześniej plik i wyślij za pomocą swojego klienta pocztowego:<p>
    <ol>
        <li>Najpierw 
            <a id="download" href="all-active-apps.pdf?readyApps" download="true" data-ajax="false"
            class="ui-btn ui-corner-all ui-btn-inline ui-mini try">pobierz</a>
            paczkę {{ apps|length }} zgloszeń
        </li>
        <li>Następnie 
            <a id="send" data-ajax="false"
                href="mailto:{{ cities | first[1] }}?subject={{ emailSubject|escape('url') }}&body={{ emailBody|escape('url') }}"
                class="ui-btn ui-corner-all ui-btn-inline ui-mini ui-disabled try">wygeneruj</a>
                i wyślij email do SM {{ cities | first[2] }}
        </li>
        <li>Po wysłaniu wiadomości, możesz
            <a id="email" href="moje-zgloszenia.html?changeMail" data-ajax="false"
                class="ui-btn ui-corner-all ui-btn-inline ui-mini ui-disabled ui-btn-icon-left ui-icon-mail status-confirmed-waiting">zmienić</a>
                status wszystkich {{ apps|length }} zgłoszeń na wysłane emailem (lub 
            <a id="epuap" href="moje-zgloszenia.html?changeEpuap" data-ajax="false"
                class="ui-disabled">epuapem</a>).
        </li>
    </ol>
    <p>
        
        
    </p>
    <p id="changeStatuses" style="display: none;">

    </p>

    <script>
        $('#download, #send').on('click', function(){
            if(this.id == 'download'){
                $(this).addClass('ui-disabled');
                $('#send').removeClass('ui-disabled');
            }
            if(this.id == 'send'){
                $(this).addClass('ui-disabled');
                $('#email, #epuap').removeClass('ui-disabled');
            }
        });
    </script>

{% endif %}

    <div data-role="collapsibleset" data-mini="true" data-inset="true">
        {% for app in apps %}
            {% include('_application.html.twig') %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}